[2021-03-24 15:24] markoprljic commented on #679
I agree with @divine-comedian MVP will be confusing for the general public.

I suggest:

- Remove Soft launch toast message (if it's there)
- Use the floating element to gather user feedback

Title: Tell us what you think
Body: How can we be better? Report an issue or request a feature.
Button: Give Feedback

[2021-03-24 15:25] markoprljic commented on #689
@jamespfarrell Where can I read more about the quality score, how it works and how it is displayed? Thanks.

[2021-03-24 15:26] andogro commented on #700
See now this is already reported on #621

[2021-03-24 15:30] sembrestels opened #701 "Add "Sign in" / "Connect" button to donation page"
## 📋 Anything to add?
The error that appears when you try to donate with a metamask not connected is:

## ⏰ Urgency/Deadline/Blockers?
It's easy to solve, and quite important.

## ❓ Why is it important?
It's a major UX stopper for anyone to donate

## 🎉 Subtasks

- [ ] Add a "Sign in" button in the top right corner as in any other page
- [ ] Change the error message to something like "You must be

[2021-03-24 18:01] laurenluz opened #703 "Incorporate Post-Launch User Feedback"
## 📋 Anything to add?
This is an epic to keep track of feedback from new users to the DApp as it rolls in through DMs, twitter, Github etc.
The intention is to incorporate this feedback and creating breakout issues to help hone the user experience

## ❓ Why is it important?
We are a community owned-platform - let's give the people what they want

[2021-03-24 18:25] mateodaza commented on #700
This is done now :)

[2021-03-24 18:25] #700 closed

[2021-03-24 18:27] mateodaza commented on #698
It's working now :)

[2021-03-24 18:27] #698 closed

[2021-03-24 18:30] sembrestels opened #704 "On xDAI network, equivalent USD value is calculated as if the xDAI is ETH"
## 📋 Anything to add?
In the https://giveth.io/account page it consider my xDAI as ETH, and does a misleading conversion to dollars.

## ⏰ Urgency/Deadline/Blockers?
Not so much urgent.

## ❓ Why is it important?
It is important to support xDAI as well as other chains correctly.

## 🤼‍ Reviewer

@sembrestels

## 🔗 Work doc - inspirational links

[2021-03-24 18:33] markoprljic opened #705 "After successful donation the "Donation in progress" toast message does not go away"
## 📋 Anything to add?
![Image 2021-03-24 at 7 32 07 pm](https://user-images.githubusercontent.com/5704285/112365265-beb01480-8cd7-11eb-8d0c-fd74097fafa8.jpg)

[2021-03-24 18:34] markoprljic opened #706 "PAN token not available on the Mainnet token list"
PAN only visible on xDAI.

[2021-03-24 18:35] mateodaza commented on #706
can you check again? I see it there, listed second

[2021-03-24 18:36] markoprljic opened #707 "Allow right click on project card "Learn more" button to open in new tab"
## 📋 Anything to add?
![Image 2021-03-24 at 7 35 45 pm](https://user-images.githubusercontent.com/5704285/112365653-32522180-8cd8-11eb-9ce1-38608dc1d8cb.jpg)

[2021-03-24 18:41] andogro opened #708 "MyWallet link goes to Etherscan error page"
## 📋 Anything to add?

<img width="1378" alt="giveth-error1" src="https://user-images.githubusercontent.com/14284654/112366278-3a8d6b00-8c9e-11eb-95b8-c1d33289c4e4.png">

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-03-24 18:45] #706 closed

[2021-03-25 00:20] laurenluz commented on #704
@mateodaza I just got this same feedback from ygg - check it out... The value in $ is calculated as if my 32 xDAI is 32 ETH

![image](https://user-images.githubusercontent.com/75490971/112400257-991e0d80-8ccd-11eb-9801-7b7c6d2ce7cf.png)

[2021-03-25 06:27] markoprljic opened #709 "Do not show "Tell us what you think" popup IF user has clicked on X to close it"
## 📋 Anything to add?

We can assume that if user clicks on the X to close the popup that they do not want it to appear again. We should respect that decision and not show the popup on each new page loaded.

![Image 2021-03-25 at 7.25.53 am.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/c2f80726-0b60-4187-9851-ec5cbc9574ba)

[2021-03-25 09:50] jamespfarrell opened #710 "Logged in with xDai, it thinks my xdai balance is ETH"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/13beb241-a43e-4593-9d3d-1626b2fdfae7)

[2021-03-25 09:52] jamespfarrell opened #711 "As a user I want to click on a project title and visit the project"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/301a7696-a348-44f1-9654-99287bf42120)

[2021-03-25 09:55] jamespfarrell opened #712 "Under my account selecting crypto on drop down doesn't show xDai"
Under my account selecting crypto on drop down doesn't show xDai

![image](https://user-images.githubusercontent.com/10499048/112453975-8270c880-8d58-11eb-9a2a-d11bd9fb1b25.png)

[2021-03-25 10:24] jamespfarrell commented on #584
@mateodaza I think you could fix this faster

[2021-03-25 14:28] GriffGreen commented on #704
I say, enjoy your new found riches, what the issue?!?!?

[2021-03-25 14:30] mateodaza commented on #704
Giveth making it rain since day zero 🥳 hahaha -  out of joke I'll get on it

[2021-03-25 15:49] markoprljic commented on #671
Few options we can do to raise awareness of the xDAI networks support:

1. Include a notice on the Donation page itself (if a user is connected to Mainnet)

![Image 2021-03-25 at 4 12 54 pm](https://user-images.githubusercontent.com/5704285/112496400-ffb23280-8d84-11eb-8d16-2d65a4d1a2bf.jpg)

2. Include a banner on the Homepage and Projects page (user should be able to permanently hide the notific

[2021-03-25 16:43] mateodaza commented on #671
I like this, excellent idea!

[2021-03-25 17:08] GriffGreen opened #713 "Consider adding stronger Usability testing procedures into our development process"
@Jeff_Piestrak on twitter was courageous enough to give us constructive feedback around usability:

https://twitter.com/Jeff_Piestrak/status/1375101914984165378?s=20

[2021-03-25 18:05] markoprljic opened #714 "Refactor Donations page (Cryptocurrency option)"
## 📋 Anything to add?

New design proposal for the Donation screen (Cryptocurrency tab)

![Image 2021-03-25 at 4.12.54 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/edc28eec-3d59-4ec9-af9f-f22222db2ec8)

![Image 2021-03-25 at 7.04.08 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/f78c8719-e8d2-47fd-ae22-c291d276f4dc)

1. Make the input field 100% widt

[2021-03-25 18:30] markoprljic commented on #714
@mateodaza Could this issue be something for @MerlinEgalite?

[2021-03-25 19:30] markoprljic commented on #655
@jamespfarrell Is this more clear now?
Idea is to show upfront the options Torus offers but make all of them when clicked just open the Torus popup.

![Image 2021-03-25 at 8 29 20 pm](https://user-images.githubusercontent.com/5704285/112532286-f2a73a80-8da8-11eb-8968-000ba76d303a.jpg)

[2021-03-26 11:26] MerlinEgalite commented on #714
with pleasure if @mateodaza you are ok!

[2021-03-26 11:40] markoprljic commented on #714
Worth noting @MerlinEgalite that there is another connected issue that I believe @mateodaza is working on https://github.com/Giveth/giveth-2/issues/623

I suggest you two sync and we can close both at the same time.

[2021-03-26 12:22] imtien opened #715 "Tried to donate twice - didn’t get there"
## 📋 Anything to add?   I tried to donate to Diamante Luz projects.  Via links sent out by trusted sources.  Those links sent me to the Diamante Luz donate portal.   Then when clicking donate - sent me to meta mask with net - then I can’t find Diamante Luz because it’s not listed in the projects.

When I get to the bottom of the page of projects to the “show more” tab.  It just shows the same ones

[2021-03-26 14:49] jamespfarrell commented on #386
Cron tab reference - https://crontab.guru/every-2-hours

[2021-03-26 14:49] mateodaza commented on #715
Hello!! The Diamante project is showing up there but I noticed there's a problem that when you are loading projects, the new ones load to the top of the list - anyone can easily miss it.

Thanks for bringing up this issue, we'll improve the UX on this aspect

[2021-03-26 15:01] divine-comedian commented on #695
I haven't made any donations but my page seems to load correctly on giveth.io using metamask on mainnet.

![image](https://user-images.githubusercontent.com/67759413/112651194-8c5efe00-8e22-11eb-9336-cf43904b7752.png)

@GriffGreen is this specifically an ENS problem?

[2021-03-26 15:08] divine-comedian commented on #518
Sooo funny story .. All of my donations in ERC-20 tokens have been showing up, but just not in chronological order.. I flipped back a couple pages and well.. there they are! Sorry @mateodaza  for wasting your time :/ I'll check into making a separate issue for ordering donations by when they were made

![image](https://user-images.githubusercontent.com/67759413/112652016-58380d00-8e23-11eb-95fb-d4

[2021-03-26 15:11] divine-comedian commented on #679
Looks like this got pushed right to live. but not to staging. I'll mark it as resolved but for consistency we should push it to staging as well @mateodaza
## LIVE
![image](https://user-images.githubusercontent.com/67759413/112652388-bfee5800-8e23-11eb-9500-26577997ff23.png)

## Staging
![image](https://user-images.githubusercontent.com/67759413/112652501-da283600-8e23-11eb-8da1-00471b4cca2f.png)

[2021-03-26 15:15] divine-comedian commented on #621
Wow! hella slick, no hiccups logging into giveth while connected on xDai - Great work Mateo!
tested brave, clean cache w/ metamask
![xdailogin](https://user-images.githubusercontent.com/67759413/112653213-941fa200-8e24-11eb-8294-033082989258.png)

[2021-03-26 15:17] divine-comedian commented on #561
Looks great - resolved as intended.
![image](https://user-images.githubusercontent.com/67759413/112653473-d5b04d00-8e24-11eb-846c-7f7742970780.png)

[2021-03-26 15:30] divine-comedian commented on #644
Awesome work, some of these issues seem to be resolved.
I tested:
 - Updating all fields. Works fine and updates correctly without having to refresh
 - Leaving all fields or some fields blank. Updates correctly and throws warning to require at least one field to be filled in. Updates correctly without refresh
 - Leaving some fields empty, updating others - Profile updates correctly without refresh

[2021-03-26 15:33] divine-comedian commented on #682
looks hella clean. I see it's been pushed already to staging and LIVE. redundancies no more!

![image](https://user-images.githubusercontent.com/67759413/112655745-1a3ce800-8e27-11eb-91f7-6d64a90414c9.png)

[2021-03-26 15:36] markoprljic commented on #699
I agree, this was supposed to be a metric of all donations received through Giveth and NOT assets value in the wallet user has connected.

@mateodaza Let's remove this box from My Account page.

[2021-03-26 15:43] markoprljic commented on #689
Found it https://github.com/Giveth/giveth-2/issues/667

[2021-03-26 15:59] markoprljic opened #717 ""Be the first to support this project" CTA for projects with zero donations"
## 📋 Anything to add?
Similar to the example below

![Image 2021-03-26 at 4.55.49 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/799161e3-dcf5-4dbf-abeb-7325a9f9807e)

Additionally, issue NFT badge for first supporters.

[2021-03-26 18:25] markoprljic commented on #714
Figma source file for the above design https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=4932%3A93

[2021-03-26 19:51] GriffGreen opened #718 "Total donations is WAY OFF!"
<img width="506" alt="Screen Shot 2021-03-26 at 2 49 34 PM" src="https://user-images.githubusercontent.com/14945613/112685550-05874100-8e75-11eb-936a-069adf0dee6a.png">

we have a 1 HNY donation which is like $1000

[2021-03-27 15:08] markoprljic opened #719 "There should always be default one (1) update when project is created"
## 📋 Anything to add?
All new projects have initial "Project launched" status update, therefor the Updates tab should display number "1" in the counter.

![Image 2021-03-27 at 4 06 27 pm](https://user-images.githubusercontent.com/5704285/112725077-9bbf7380-8f16-11eb-8b42-075040c3c7bf.jpg)

[2021-03-27 15:59] markoprljic commented on #689
Why should a project owner (or any user) want to see the project score? How is this information relevant to them in the context of donating to a project?
I think that showing this information publicly on the project details page will only add to confusion without providing any real value to the giver or project owner.

Score can eventually be displayed to the project owner during the project creat

[2021-03-27 16:30] markoprljic commented on #719
Also, this blue indicator is meant to be for new and "unread" updates BUT maybe we don't want to implement that now. That being said we can either make the counter in brackets (1) or apply the same style with the blue circle to Donations tab.

[2021-03-27 17:38] markoprljic commented on #719
Like this
![Image 2021-03-27 at 6 37 50 pm](https://user-images.githubusercontent.com/5704285/112729262-915ba480-8f2b-11eb-9431-c1ad3e076ce3.jpg)

[2021-03-27 17:53] markoprljic commented on #714
@MerlinEgalite One small addition I just made is the information about how much funds user has in their connected wallet based on the token selected in the list. See the screenshot below...

![Image 2021-03-27 at 6 51 16 pm](https://user-images.githubusercontent.com/5704285/112729663-aa655500-8f2d-11eb-967f-922d70807338.jpg)

[2021-03-27 19:41] MerlinEgalite commented on #714
Oh didn't see that, sure I can add it @markoprljic !

[2021-03-28 11:16] #550 closed

[2021-03-28 11:17] #413 closed

[2021-03-28 11:36] geleeroyale commented on #386
Full system backups are now scheduled via digitalocean

[2021-03-28 11:37] #662 closed

[2021-03-28 15:05] geleeroyale commented on #530
can not reproduce

[2021-03-28 16:00] GriffGreen opened #722 "Remove the ability to use a contract address as a project if it is only on 1 chain and not the other"
## 📋 Anything to add?

Sadly, we live in a multichain world and smart contracts (DAOs, Multisigs) only exist on 1 chain :-(

Their are a lot of gnosis safes that are actually on multiple chains... so that is ok (Yay handshake!) but the Giveth multisig for instance is not!

## ⏰ Urgency/Deadline/Blockers?

Very Urgent!

## ❓ Why is it important?

Money is being lost!!!

## 🎉 Subtasks

- [ ] Check t

[2021-03-28 16:01] MerlinEgalite opened #723 "Invert 2 texts for donation CTO?"
@markoprljic should we invert the two texts so that the main CTA is Donate?
It could ease the donation process

<img width="478" alt="Screenshot 2021-03-28 at 16 58 13" src="https://user-images.githubusercontent.com/44097430/112758569-6cc90080-8fef-11eb-91fc-93e64f369428.png">

[2021-03-28 16:05] markoprljic commented on #723
No because we decided not to be too aggressive with it. Originally I designed it the way you're proposing but donors would most likely want to read more about the project and then donate.

[2021-03-28 16:05] #723 closed

[2021-03-28 16:41] jamespfarrell commented on #645
https://github.com/Giveth/giveth-2/issues/31

[2021-03-28 16:42] jamespfarrell commented on #31
https://github.com/Giveth/giveth-2/issues/31

[2021-03-28 16:42] #31 closed

[2021-03-28 16:50] GriffGreen opened #724 "Hide Torus from the users, highlighting our preferred login instead"
From Jeff:

Is it possible to get "Sign in with google" instead of the torus symbol on the Giveth site too?  Takes one less click away from the user having to figure out how to sign in!

<img width="354" alt="Screen Shot 2021-03-28 at 11 43 47 AM" src="https://user-images.githubusercontent.com/14945613/112760172-6722e900-8ff6-11eb-9b43-e65cbf150e92.png">

[2021-03-28 17:07] mateodaza commented on #724
So, we'd remove all other ways to login and only leave google as an option?

[2021-03-28 18:16] markoprljic opened #726 "How can we visualize the GIV Economy?"
## 📋 Anything to add?
Napkin notes:

Non-profits create value, with GIVBacks we're building a system that should make this obvious. How?
Every project (or cause) will be its own economy and should clearly communicate the value creation to potential supporters and general audience.

How can we make this easy to understand to the donors?
How do we display that information to the users in a clear and

[2021-03-28 19:00] jamespfarrell opened #727 "Ensure projects can only use Externally owned accounts, not smart contracts"
There's no guarantee that a smart contract wallet exists on xdai, so we lock it down for now.

[2021-03-28 19:06] Danibelle opened #728 "Make clickable website link under User Profiles"
As a donor I want to know more about a project when deciding whether to fund it.

I look at the Handshake project and there aren't any links to more information in the description.
So I click on the Creator name to view their profile..
![image](https://user-images.githubusercontent.com/39466970/112764411-3d010500-8fbd-11eb-9579-ec0295af1f5f.png)

 and see a link under the name that I am not permit

[2021-03-28 19:09] Danibelle commented on #604
Was this resolved by the score functionality @jamespfarrell ?

[2021-03-28 20:56] Danibelle commented on #604
Great thank you! I'm trying to catch up on how to appropriately label, tag, assign or otherwise place my issues to be reviewed and prioritized...  apologies if I'm not doing right!

[2021-03-29 13:14] GriffGreen commented on #726
Remember, GIVBacks go to the Giver, not the projects, our target audience is the people Sacrificing to Give their funds, they are our Target heroes... AND THEY ARE HEROS! I'm not saying the projects aren't heroes... they are as well, but especially for Givbacks, the don't see direct benefit. Funding more projects is the end goal, but it is a second order effect of the Givback strategy.

This is a

[2021-03-29 13:24] GriffGreen commented on #726
Memes!!!!!

Give and get GIVBacks,

 "Tax deductible donations, for 10-35% back? NAAAAA Ownership over the Donation Infrastructure for up to 75% back"

First Donor owned Donation Platform.

"Up to 75% of your donation can be matched" Repeated everywhere... the only thing we have to be careful of is setting expectation that the tokens are subject to a Global Lockup... which effectively becomes a GI

[2021-03-29 13:26] markoprljic commented on #726
Hoooraaaaaayyy!!! Thanks Griff :)

[2021-03-29 17:48] laurenluz commented on #726
thanks for creating this issue Marko! I feel really keen about getting all on the same page about GIVback visualizations because I think it's a major part of what makes Giveth different from just "gofundme w crypto"

Love the idea of Badges/NFTs to reward donors for actions... I like the idea of simple ones for being the first donor or donating x amount or to y projects, but I like even more the i

[2021-03-29 17:52] laurenluz commented on #697
this description is hilarious 🤣

[2021-03-30 21:01] Danibelle opened #730 "Commons Simulator Project link leads to blank page"
I followed a link posted by @laurenluz in the CS DDev telegram channel and got this:
![image](https://user-images.githubusercontent.com/39466970/113056178-51313780-9160-11eb-8f17-fb79f8a46857.png)

Cleared cache and tried again with same result :(

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc -

[2021-03-30 21:11] Danibelle commented on #730
Ok it looks like the punctuation doesn't translate into Telegram unless you copy the link with the / at the end..
I think this is a working as designed, but something to be aware of..  !!! ;)

[2021-03-30 21:44] jamespfarrell commented on #334
I can confirm that the hand pointer now works.

I couldn't get rid of the border, but it is default browser behaviour and not important in my opinion.

If anyone else feels like they may have better luck, please go ahead.

[2021-03-30 21:46] #586 closed

[2021-03-31 02:23] mateodaza commented on #644
working on develop branch, coming next update

[2021-03-31 08:48] #667 closed

[2021-03-31 08:53] jamespfarrell commented on #598
Staging is the same as dev and live, please retest... and if it's still wrong put the right text here, and re-assign. Thanks.

[2021-03-31 08:54] #495 closed

[2021-03-31 08:57] jamespfarrell commented on #638
From my perspective when something happens we only raise that event once. We can react to that event in 2 different ways, but that should happen on the segment side.

We would only have 2 different events if completely different data was needed for the 2 things you reference, and even then we would likely keep one event with 2 types of data.

[2021-03-31 13:27] GriffGreen opened #732 "When donating (with metamask set to the wrong chain) it looks weird"
<img width="1003" alt="Screen Shot 2021-03-31 at 8 23 50 AM" src="https://user-images.githubusercontent.com/14945613/113151264-32e93b80-9235-11eb-8db0-953a6a5666da.png">

I think we need a chain ID check... if its not set to ETH or xDai, then we have to tell them that they need to switch networks... and we def don't want to show the gas price like its the gas fee!

10 Gwei, IN MY DREAMS!!!

[2021-03-31 14:26] markoprljic commented on #717
![Image 2021-03-31 at 4 26 27 pm](https://user-images.githubusercontent.com/5704285/113160522-dc342f80-923d-11eb-92f5-2eeae0ca2364.jpg)
This lives on project details page in the sidebar.

[2021-03-31 14:29] #724 closed

[2021-03-31 14:33] markoprljic commented on #632
![Image 2021-03-31 at 4 33 19 pm](https://user-images.githubusercontent.com/5704285/113161598-d428bf80-923e-11eb-8642-912f386ca234.jpg)

[2021-03-31 14:36] markoprljic commented on #630
https://forms.gle/ZDjgoyMx5qagioBU8

[2021-03-31 14:44] markoprljic commented on #732
This is solved with this new UI design.

![Image 2021-03-31 at 4 43 54 pm](https://user-images.githubusercontent.com/5704285/113163290-52399600-9240-11eb-82d7-828832d9d483.jpg)

[2021-03-31 15:12] #658 closed

[2021-03-31 15:34] markoprljic commented on #414
We launched so I guess this can be closed.

[2021-03-31 15:34] #414 closed

[2021-03-31 15:41] GriffGreen commented on #732
I reopened because it is a slightly different issue.

Your Design addresses the scenario when the user is on ETH...

This is issue is for when the user is on a different chain entirely, I am on BSC for instance.

[2021-03-31 15:42] mateodaza commented on #732
On it! - I used to have that check, something got lost in time

[2021-03-31 15:43] GriffGreen commented on #655
love it

[2021-03-31 17:18] divine-comedian commented on #693
On staging I'm able to find my profile using the public route URL - tested on Brave in incognito mode
![image](https://user-images.githubusercontent.com/67759413/113184661-76d34500-9223-11eb-9713-3bc8ece4fc17.png)

[2021-03-31 17:24] mateodaza commented on #669
lol for the high priority 🍻

[2021-03-31 17:29] divine-comedian commented on #334
Observation: Testing this out, when I hover inside the dotted line it shows hand pointer, that part works well. However, if I click inside the dotted line but outside of where the black solid line rectangle is normally it does nothing. If I click multiple times in this void zone it starts highlighting elements on the page. On staging with Brave with clean cache @jamespfarrell

![image](https://use

[2021-03-31 17:39] #602 closed

[2021-03-31 17:39] #405 closed

[2021-03-31 18:03] Danibelle commented on #669
And whoop whoop .. hey, do we have a blog post or epic tweet thread queued for this, hmm.
Checking with the Comms Stars!!

[2021-03-31 18:32] GriffGreen opened #734 "Reprioritize the focus for the Gas design"
<img width="594" alt="Screen Shot 2021-03-31 at 10 45 06 AM" src="https://user-images.githubusercontent.com/14945613/113173024-4d2d1480-9249-11eb-91df-4353d37b0087.png">

A lot of people don't know GWEI

Can it be :

215 GWEI (Small) $50.31 (Small) .013 ETH (Big)

[2021-03-31 18:46] Danibelle commented on #660
I was expecting the view to change when I moved from My Projects (Creator view) to My Donations (Donor View) ..
I want to find more projects to support from this page just like I can Create a Project from this page.

![image](https://user-images.githubusercontent.com/39466970/113194910-826c3f00-9216-11eb-8a98-cb2100277fdb.png)

[2021-03-31 18:48] Danibelle opened #735 "Blog posts should be updating at website bottom"
We have more current stories to share since the ones that appear here.. is this a feed or are these stories coded and need to be updated manually?

![image](https://user-images.githubusercontent.com/39466970/113195273-eee73e00-9216-11eb-94c9-db3d84b294e6.png)

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

##

[2021-03-31 20:50] #163 closed

[2021-04-01 12:52] MerlinEgalite commented on #668
This is a the value returned by `getGasPrice`. But it seems that it reflects the gas Price on the mainnet and not xDai. I don't know why. Should we fix the gas Price on xDai @GriffGreen ?

[2021-04-01 12:59] MerlinEgalite commented on #705
Do you still have the issue @markoprljic?
I don't have the issue...

[2021-04-01 14:31] markoprljic commented on #705
Tested on staging, seems to be ok now.

[2021-04-01 14:31] #705 closed

[2021-04-01 14:46] markoprljic commented on #660
Ah, now I see where the confusion came from. I think I need to redesign this section a bit so that there is no confusion about this.

You're not supposed to donate from this page anyway, it is your account where all projects and donations live (now I noticed we need to separate donations to my projects and donations user donated to other projects), also I think we should change the labeling of sec

[2021-04-01 16:44] jonimadere opened #739 "Hello. I'm supporting social good projects by listing them on Giveth to raise funding. Clients all want to load video. Will this become available? Thanks!"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-01 18:13] mateodaza commented on #739
Helloo! Yess totally, we have it on our roadmap #441 coming soon

Thank you a lot for the feedback 💜

[2021-04-01 18:16] jonimadere commented on #739
Hello! Fantastic. Thank you.

[2021-04-01 20:30] mateodaza commented on #701
You can donate without being logged in, the error was happening because of a problem with our xDAI node - closing it

[2021-04-01 20:30] #701 closed

[2021-04-02 11:14] jamespfarrell opened #741 "Cannot donate on live with Torus"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/10c721db-f39e-4d62-a0f3-ddc88988d240)

[2021-04-02 11:44] MerlinEgalite commented on #660
Well I implemented Dani's suggestions before you message @markoprljic  😅...
Not it works like that:
If on the "My Projects" section the CTA is "Create a Project"
If on the "My Donations" section the CTA is "Donate"

I can update it once you've a new design?

[2021-04-02 11:44] MerlinEgalite commented on #734
Yeah I'll make the changes!

[2021-04-02 11:49] markoprljic commented on #660
Thanks Merlin, appreciate your responsiveness :)
Leave it for now, but in the future we should first consult before any user feedback is implemented ad-hoc.
I'll be working on changes for this section anyway, once this is done I will let you know.

[2021-04-02 11:52] ewoudvenema opened #742 "Giveth for self sufficiency and sovereign collaboration"
## 📋 Anything to add?
Can you help develop a way of giving for self sufficient projects and communities, for instance for people acquiring or building their own tiny house, or a community buying a piece of land. But also includes different types of giving: resources (land, knowledge, skills, materials). So next to giving crypto, would you care to develop the elements in which people can donate dif

[2021-04-02 11:59] jamespfarrell commented on #741
I believe either I accidentally close this:
![image](https://user-images.githubusercontent.com/10499048/113413710-8eddcc80-93bb-11eb-848c-571ddf45fb5b.png)

Or it didn't display first

[2021-04-02 12:01] jamespfarrell commented on #669
I would love to see - as a user who's never used crypto:

1) I can create an account
2) onboard xdai via onboard.js and donate to a project without fees.
3?) preferably via subscription - superfluid?

[2021-04-02 12:36] MerlinEgalite commented on #660
Yes get it and sorry I thought it was legitimate to implement it as it was Dani's suggestion!

[2021-04-02 15:18] divine-comedian commented on #644
the last issue here seems to be working now - name changes once I update the field and it no longer requires a page refresh, **Very Nice!**
![image](https://user-images.githubusercontent.com/67759413/113428645-28e64a80-93a5-11eb-8379-8f3a5c159a9c.png)

[2021-04-02 15:27] divine-comedian commented on #671
Image banner loads after loading with a fresh cache &  cookies on a new window, looks great!

![image](https://user-images.githubusercontent.com/67759413/113429056-e5401080-93a5-11eb-9dc5-a1e1b846ea72.png)

and also here -
![image](https://user-images.githubusercontent.com/67759413/113429192-1caebd00-93a6-11eb-95b2-bcc27f893e9a.png)

[2021-04-02 15:48] divine-comedian commented on #645
Looking really good at the base level it seems to work as intended. Some Feeback - @mateodaza

In the category list it would be good to have a side scroll bar on the list itself. I have to actually scroll down the whole page to view the list.

![image](https://user-images.githubusercontent.com/67759413/113430487-436df300-93a8-11eb-9fd2-5f7cddc76e8c.png)

**Also** - I would avoid mentioning 'Qualit

[2021-04-02 15:51] mateodaza commented on #645
awesome feedback, makes all sense

[2021-04-02 15:58] divine-comedian commented on #584
I noticed now looking up coins on staging, if my token isn't found it produces the text 'no options'

however it is in the wrong font.

![image](https://user-images.githubusercontent.com/67759413/113431970-9183f600-93aa-11eb-8d48-7935eb5ee8c5.png)

**Also** - still same UI error while using COMP

![image](https://user-images.githubusercontent.com/67759413/113432092-c132fe00-93aa-11eb-8fa6-97a75971

[2021-04-02 16:46] #742 closed

[2021-04-02 17:26] divine-comedian commented on #732
exploring a bit here.. once I log in I can still switch to other chains and I can try to donate -
I get the insufficient funds pop-up if I try to donate on an unapproved network
![image](https://user-images.githubusercontent.com/67759413/113438468-9e0e4b80-93b6-11eb-8653-1fe061e1ab9a.png)

Which is not the same as when I try to log in while on the wrong network

![image](https://user-images.github

[2021-04-02 18:07] divine-comedian commented on #704
still showing up on giveth.io

![image](https://user-images.githubusercontent.com/67759413/113439302-4ffa4780-93b8-11eb-8bb3-0a3e94a345f3.png)

the wallet balance doesn't show up at all on staging

[2021-04-02 22:32] Danibelle opened #744 "Add "copy link" option to share pop-up on projects"
When I click the Share icon (next to the heart) and get the 3 social media options, I want to have a Link option to easily get the projects link for sharing in other places!

![Screenshot_20210402-173223_Chrome.jpg](https://user-images.githubusercontent.com/39466970/113458917-94e2a600-93d9-11eb-9099-a35c6f80c335.jpg)

[2021-04-04 12:56] divine-comedian commented on #264
![image](https://user-images.githubusercontent.com/67759413/113509438-91f3cc80-9523-11eb-9a58-e055d7cf32ea.png)

[2021-04-04 13:00] divine-comedian commented on #699
No more total assets shown on the my account page. issue fixed as described. tested on brave w/ clean cache and cookies.
![image](https://user-images.githubusercontent.com/67759413/113509526-1e9e8a80-9524-11eb-9cac-dad1958707ae.png)

[2021-04-04 13:09] divine-comedian commented on #623
checking out the icons on mainnet - @mateodaza  So i hear you're a MATIC fan...
![image](https://user-images.githubusercontent.com/67759413/113509689-03804a80-9525-11eb-951f-63fa3af1c29e.png)

There's very little to no image icons for the popular coins on xDAI network - HNY, AGAVE, xDAI, PAN...
![image](https://user-images.githubusercontent.com/67759413/113509767-5a861f80-9525-11eb-9d5c-cd693fb75c

[2021-04-04 13:22] mateodaza commented on #623
Lol blame the package https://github.com/spothq/cryptocurrency-icons we can suggest them to add the missing logos but so far I can add them apart from the library

[2021-04-04 13:30] divine-comedian commented on #623
Yes I can help you find some resources today, what do you use for svg editor? @mateodaza

[2021-04-04 15:16] geleeroyale commented on #735
It takes until the next time the application runs a build - then new stories are fetched. This issue is fixed on main deployment (if 30th March is the most current article)

[2021-04-04 15:16] #735 closed

[2021-04-04 15:44] jamespfarrell opened #745 "On user login we aren't calling segment identify hook"

[2021-04-04 15:51] jamespfarrell opened #746 "Emails not being sent on live"
Willy emailing support.

If there's no solution, we will have to debug it.

[2021-04-04 16:03] jamespfarrell opened #747 "Review the use of Giveth Trace endpoint for donation prices"

[2021-04-04 16:35] mateodaza commented on #704
live isn't up to date yet, coming on monday I believe

[2021-04-04 16:38] mateodaza commented on #623
I'm not usually edition svg lol if I do I go directly to the code - You can give me PNG files too if you get them I'll hardcode them!

[2021-04-05 15:07] willyogo commented on #746
No response yet from Autopilot support yet. @jamespfarrell did anything change with our segment implementation on March 30? Or any idea what other changes could have caused this? The last event autopilot received from Segment was March 30th at 9am MDT

[2021-04-05 19:10] Danibelle opened #749 "Sort Function only works on the first set of projects shown?"
When I select "hearts" from the sort filter, it rearranges those I can see..
But when I click "more projects" ..  the additional projects shown have more hearts than some presented in the first page.

First three:
![image](https://user-images.githubusercontent.com/39466970/113614405-4ca8cb00-9607-11eb-80c8-614c4a9a1bae.png)

When I click "Show More Projects" the filter resets to Default, and I hav

[2021-04-05 19:22] Danibelle commented on #749
This happens with the Categories too..  I pick Technology, scroll to bottom where it says Load More, then get projects about cats.

[2021-04-05 19:33] Danibelle opened #750 "Search Function not returning results"
I type "Diamante" and nothing happens, hit enter, nothing, click the magnifying glass, still no results.
I filter on most raised, most hearts, scroll and scroll and still no.
Had to click Load More 6 times for this project to show up, and it has hearts and donations.
![image](https://user-images.githubusercontent.com/39466970/113617566-55030500-960b-11eb-8268-8cdd711da6ce.png)

I type commons, and

[2021-04-05 21:18] divine-comedian commented on #704
I think this issue is resolved since we removed the wallet balance window completely from 'my account', correct @mateodaza ?

[2021-04-05 21:24] divine-comedian opened #751 "gas fee in ETH when on xDai chain"
While I'm on the xDai chain and on the donation page for a project. The Network Fee is denominated in ETH but it should be in xDAI, users might get confused on how they're paying gas.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/81fcecae-b7ec-450a-b8aa-5f5286c6ee8c)

[2021-04-05 21:31] divine-comedian commented on #732
On the donation page I try to donate with more funds than I have and I receive the appropriate NSF pop-up
![image](https://user-images.githubusercontent.com/67759413/113629213-1afa2900-9634-11eb-8dc9-bf64aff63232.png)

If I try to donate on an unapproved network -BSC for example - I get the appropriate 'change network' pop-up.
![image](https://user-images.githubusercontent.com/67759413/113629350-5

[2021-04-05 21:34] divine-comedian commented on #645
We have scroll bars! The font looks fixed and we changed our wording to 'Default' instead of 'Quality Score'. This works fantastic, nice job Mateo!

![image](https://user-images.githubusercontent.com/67759413/113629942-1d10b780-9635-11eb-9b5c-21184c9b6aa0.png)

[2021-04-05 21:42] divine-comedian commented on #584
The UI issue looks to be fixed. Price queries in fiat seem to work well on ETH and mainnet
![image](https://user-images.githubusercontent.com/67759413/113630297-9c9e8680-9635-11eb-9d68-8cf30a55adf6.png)

on Xdai however it does not display the same as mainnet. the price is not displayed above the input field with its value in USD

![image](https://user-images.githubusercontent.com/67759413/1136305

[2021-04-05 22:33] Danibelle commented on #645
I have been testing the sort and filter on both staging and prod, finding these issues on both:
https://github.com/Giveth/giveth-2/issues/749
https://github.com/Giveth/giveth-2/issues/750

[2021-04-06 23:48] mateodaza commented on #584
Here we are only fetching the prices of tokens that are on mainnet, it is related to other issue but we have it considered - For now I'll fix the ETH / xDAI differentiation

[2021-04-07 13:34] GriffGreen opened #752 "FAQ is lying! Giveth is BOTH a 501c3 non-profit and a DAC"
![photo_2021-04-07_08-23-12](https://user-images.githubusercontent.com/14945613/113873657-4b1d0580-97b5-11eb-99df-bd02a1b3d654.jpg)

From @wendyfeher in telegram

“Not a charity” in FAQ.

can you also add FAQ to the nav bar on homepage?

[2021-04-07 13:41] Danibelle commented on #752
Docs has correct info here: https://docs.giveth.io/whatisgiveth/

[2021-04-07 13:50] Danibelle commented on #752
I spoke with @ForestSoleil about the Comms team reworking the links at bottom of giveth.io ..

EITHER:
Making the join.giveth.io page more informative with the FAQ, About Us and Docs immediately accessible from the new "Community' link added to the home page top center.

OR:
Making Community a drop-down with these 3 options..

OR:
Creating a new Community page that has FAQ & Docs, About Us & Our P

[2021-04-07 13:56] #383 closed

[2021-04-07 14:06] Danibelle commented on #752
I'm pulling this issue over to the Planning Board for the Communications team AND will be on the Dev call today to find out how I can update the FAQ with the correct info as found on DoCS -  I can edit Docs but not this.

[2021-04-07 14:49] #353 closed

[2021-04-07 16:24] jamespfarrell commented on #746
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/7742617c-8812-48c3-9729-b3257c4334df)

Above is the 28th of March, not sure if that's relevant.

[2021-04-07 16:59] jamespfarrell commented on #746
I have gone through segment and autopilot and it all looks in order to me, could it be that our payments lapsed?

![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/4dd45283-861d-4591-b519-7e44bc182b0a)

[2021-04-07 18:45] jamespfarrell commented on #722
Please test

[2021-04-07 19:47] jamespfarrell commented on #728
The cause of this issue is that we aren't standardising the saving of website URLs when we save the profile URL.

Garbage in = garbage our, as they say.

[2021-04-07 19:49] divine-comedian commented on #722
I took a contract address from Balancer  - this one precisely - https://etherscan.io/token/0x59a19d8c652fa0284f44113d0ff9aba70bd46fb4?a=0x59a19d8c652fa0284f44113d0ff9aba70bd46fb4
and it allowed me to make a project no problem, the address itself exists on xDAI it is however empty.

![image](https://user-images.githubusercontent.com/67759413/113921735-5facce00-97b4-11eb-9892-36eb259dd9aa.png)

![im

[2021-04-07 19:54] jamespfarrell commented on #728
I have manually updated all urls in the live database, staging and dev may continue to be broken.

@mateodaza will add validation on the profile field.

[2021-04-07 20:24] jamespfarrell commented on #730
Someone updated the title of the project. The slug in the url is based on the title so the url of the project changed which is why we have a 404 errror. My feeling is that editing the project shouldn't update the slug and that it can't be changed by the user... what do you think about this?

[2021-04-07 20:28] jamespfarrell commented on #739
This is a duplicate issue, please track this issue here -https://app.zenhub.com/workspaces/giveth-2-5ecaa273967d386713036ca4/issues/giveth/giveth-2/441

[2021-04-07 20:28] #739 closed

[2021-04-07 20:46] Danibelle commented on #730
Are you sure that's the issue, for one..
Because we had two simultaneous things happen.. first the error because the Project Name had an exclamation point, which did not translate when pasting the URL into a chat (telegram).  If I added the punctuation to the URL in my browser, it worked.
But to eliminate confusion, Lauren ALSO changed the project name.

Regardless - here's my answer..  Yes AND, p

[2021-04-07 20:58] Danibelle commented on #728
So many ways to do better, one thing at a time ;)

[2021-04-07 21:44] Danibelle commented on #713
Assigning myself here because I'm pulling this issue into the Governance Call agenda for priorization discussion based on comments from @jamespfarrell in Discord, I resonate with it also  :)

Concerned about feedback from users who can't represent their own issues in Dev Calls, we can't put the onus on the messenger (Griff in this instance) to track, categorize, prioritize, follow up etc ...

[2021-04-07 21:57] jamespfarrell commented on #689
The intention of the quality score is to encourage project owners to improve the quality of their listing only. It should appear nowhere but on the project owners page.

If you have a better way to communicate this please go ahead. We agreed in a meeting with Willy and others that this is valuable and important.

This is quite short notice for you at this point, do you think you can deliver someth

[2021-04-07 22:35] mateodaza commented on #710
removed all that view

[2021-04-07 22:35] #710 closed

[2021-04-07 22:36] mateodaza commented on #712
That dropdown currently shows either crypto or fiat, we could show all available tokens and give the option to filter according to that - I think that'd be cool

[2021-04-07 23:28] willyogo commented on #746
@jamespfarrell just did some testing and can confirm that contacts are currently being added to Autopilot and sent emails for actions (ie. Project Created) as long as we've called Identify with their email as a trait. In order to test this, I sent a test 'Identify' event from Segment's admin dashboard to Autopilot (https://app.segment.com/giveth-io/destinations/autopilothq/sources/javascript_givet

[2021-04-08 14:46] markoprljic commented on #689
Aha, so only visible when the project owner views their project page?

Apologies for this, there has been a delay in comms on both sides, my intention was not to give such short notice.

What should that information say? "Your project score: 100 Improve your score." - User might ask, What is a project score? How do I improve it?
We should provide more info in a tooltip or a popup, and then provide

[2021-04-08 16:41] laurenluz commented on #400
It still says "a guidance" on both staging and giveth.io... Should say "a guide"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/bfba18ca-ae6a-45c0-8a0a-3b31082ce585)

[2021-04-08 16:55] laurenluz commented on #697
I think now it's just set to not autofill at all, right? @mateodaza

If so, it's working just fine...
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/7d41c088-9b11-4408-ae72-6ebd1384cd1b)

[2021-04-08 17:19] laurenluz commented on #727
Tested with Mateo's YAY token contract address, the project didn't go to completion (YAY) and I got a popup (YAY) but then I got stuck on the infinite spinning wheel

popup success:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/bf361cee-a9aa-49ae-a5f6-50d5af52fa4a)

spinning wheel:

[2021-04-08 17:47] divine-comedian opened #756 "I want to check my xDAI donations on blockscout"
I'm checking up on my donations on my account, If i click the link to view a donation transaction I made on xDAI it takes me to the etherscan.io page when it should take me to blockscout.

![image](https://user-images.githubusercontent.com/67759413/114073133-efb04d80-9870-11eb-8f5f-284858eacf33.png)

[2021-04-08 17:48] laurenluz commented on #727
Ok tested, with another smart contract, this one: https://etherscan.io/address/0x06fd90bA5b63d8BFc7B9d7EEA8E26Ac522A1c772#code

And I was able to make a project... no popup, and was able to submit with no issues... Did we decide to disallow all contracts? or are we allowing them if they exist on both chains? @jamespfarrell

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d

[2021-04-08 17:51] laurenluz commented on #727
pretty sure this contract address is only on mainnet, and not xdai. It's @Danibelle 's

[2021-04-08 17:53] divine-comedian commented on #718
Testing a couple projects on staging. Looks like the values add up correctly. I added up all the ETH donations and got the correct difference, assuming the 10 cents difference is reflected from the 0.1 xDAI donation.

![image](https://user-images.githubusercontent.com/67759413/114070830-6dbf2500-986e-11eb-8356-7ba1e075dfa5.png)

I tested a project with no donations and made a small xdai donation t

[2021-04-08 18:02] divine-comedian commented on #734
Testing on staging, clear cache and cookies.. looks to match up with marko's UI proposal on mainnet

![image](https://user-images.githubusercontent.com/67759413/114074657-9a753b80-9872-11eb-9b39-d4acbc3ec733.png)

**and similarily on xDAI**

![image](https://user-images.githubusercontent.com/67759413/114074978-00fa5980-9873-11eb-8454-70a414c38c26.png)

[2021-04-08 18:04] markoprljic commented on #734
The total doesn't seem to be calculated correctly tho?

[2021-04-08 18:25] laurenluz commented on #722
assigning you @jamespfarrell to check this out re: the testing discussion here and in #722, and all my million messages in discord :)

Main points/questions:

1. Are we disallowing the user to put contract address entirely (as it says #722) or are we allowing contracts that accept donations on both chains (as it says in this issue)?

2. How do we determine if an address is on one chain or both? I

[2021-04-08 18:39] WhyldWanderer commented on #711
Tested... and its working!

[2021-04-08 18:41] WhyldWanderer commented on #707
Tested... its working!
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/a691dd42-49c3-47a1-871a-a719d856dd02)

[2021-04-08 18:47] WhyldWanderer commented on #668
It seems to be working correctly however its set to 1 and not 2 as the issue states.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/7efbf5e7-7db0-4f21-b759-e95cc7bfef57)

[2021-04-08 18:53] WhyldWanderer commented on #714
All of the things on Markos list above have been checked off except for number 2. Include token icon and symbol on the right side of the input.

Other than that, its looking great!

[2021-04-08 18:57] WhyldWanderer commented on #623
@mateodaza @divine-comedian..
I think you should be able to retrieve them through coingecko
![image](https://user-images.githubusercontent.com/74267818/114081531-e7084900-9869-11eb-904c-fd80666bd653.png)

[2021-04-08 19:04] laurenluz commented on #749
This is still happening, even though we have infinite scroll. When I open the projects page... and sort by likes, I get this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a310b4f1-5e32-4e7c-81cd-74b8eb4091da)

Then I scroll down and back up, and the top looks like this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/aac7a8b9-2bd7-4f26-b06

[2021-04-08 19:05] WhyldWanderer commented on #613
I have been successful in editing my projects multiple times.. I think its fixed.

[2021-04-08 19:10] WhyldWanderer commented on #659
Tested and fixed! related to issue https://app.zenhub.com/workspaces/giveth-2-5ecaa273967d386713036ca4/issues/giveth/giveth-2/711

[2021-04-08 19:17] WhyldWanderer commented on #670
Hooray for donations in PAN! Its working..
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/78236138-6d60-4df2-8c9b-97aa12a3ef8b)

[2021-04-08 19:19] WhyldWanderer commented on #708
Its working for me with two different accounts. I think this issue is resolved

[2021-04-08 19:22] WhyldWanderer commented on #660
I see the switch has been made/
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/c22ed85a-d4d8-4568-bda3-6c88e1184de4)
Moving this issue to done.

[2021-04-08 23:08] mateodaza commented on #612
it's working now

[2021-04-08 23:08] #612 closed

[2021-04-09 08:03] MerlinEgalite commented on #734
Good catch @markoprljic but there is an issue: here we are on xDai so we can easily sum the two numbers. But what if the user donates PAN? In what token/USD we should show the total amount?

[2021-04-09 08:06] MerlinEgalite commented on #598
Super!

[2021-04-09 11:04] markoprljic commented on #734
You're right. Maybe we shouldn't calculate the sum altogether since we can't that way for all other tokens.

[2021-04-09 13:30] divine-comedian commented on #749
@Danibelle  I think the original problem was related to the other issue of quality score not being updated for projects created past the quality score implementation.

Testing out lauren's issue - On a clean cache and cookies, fresh page load. I select sort by hearts and It appears to sort correctly -
![image](https://user-images.githubusercontent.com/67759413/114186300-ad404c80-9914-11eb-84fc-46d

[2021-04-09 13:32] divine-comedian commented on #584
the network fee quote has been correctly changed to display xDAI while on xDAI instead of Ether. hopefully we'll get price tracking for xDAI in the future!
![image](https://user-images.githubusercontent.com/67759413/114187913-87b44280-9916-11eb-9c07-0b9d33164d2a.png)

[2021-04-09 16:04] divine-comedian commented on #623
@mateodaza  here's a couple pngs for the most common ones we can expect
[xdai token photos 50px.zip](https://github.com/Giveth/giveth-2/files/6287077/xdai.token.photos.50px.zip)

[2021-04-09 19:48] jamespfarrell commented on #722
Ok, I got to the bottom of this, and it's a little problematic.

Our method of detection is to call getCode on the contract:
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/4882d429-c699-4da0-8c09-57adf06e9a25)

if it's not a smart contract, but an externally owned account it returns '0x'

so I think it's a good solution (the only one I could find)

the problem is that w

[2021-04-09 20:32] laurenluz commented on #722
It's possible to check on both chains though, right? So as to avoid the issue you mentioned...

let me know if/when it's ready to test - also if you have an easy way for me to double check that if the smart contract address I'm using is on one chain or both, would be good to know (and much appreciated).

You rock, James!

[2021-04-09 21:56] GloMoss opened #758 "Giveth Feedback - From Glo (Living the Solution Project)"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

1. Add a section for a campaign videos

2. It's challenging to give feedback because of  having to create a git hub account (it doesn't re direct you to this form)

3. Having milestones is important

4. Torus Clarification (It's complicated and difficult to understand as a first time user) - It would be great to add a message box to create cl

[2021-04-09 22:06] WhyldWanderer commented on #655
I just received first time user feedback stating that this was also confusing for them and then I found this issue.
Awsome to know that its already in the works!

[2021-04-09 23:19] geleeroyale opened #759 "Disabled Projects are not filtered out on /projects?"
I could not make it go away

![image](https://user-images.githubusercontent.com/317685/114249343-a22fff80-999a-11eb-921a-b054ddecce14.png)

[2021-04-10 01:25] WhyldWanderer commented on #703
I would like to create a new flow for feedback collection, categorization, and prioritization.
A user shouldnt be expected to create a github account in order to provide feedback.

Also, as we collect feedback, there will be redundant issues and things that are higher priority etc.

It would be awesome to have a typeform or a form that we create within the application that can be integrated with g

[2021-04-10 01:51] WhyldWanderer commented on #703
We could use something like this for integration. It says its free for developers... https://pipedream.com/apps/github/integrations/typeform

Otherwise I know of zapier that allows for integration but its a paid subscription. And there could be other options that Im unaware of. https://zapier.com/apps/typeform/integrations/github

[2021-04-10 06:51] MerlinEgalite commented on #604
Is something like Kleros Curate too complicated to implement?
The goal of this is to create curated lists in a decentralised way.
https://curate.kleros.io/

[2021-04-10 06:59] MerlinEgalite commented on #752
@Danibelle what text should we replace and by what, then?

[2021-04-10 09:06] jamespfarrell opened #761 "Display issue on iPHone"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/d72a0283-a326-49fa-9dd0-7c0fc34541b9)

[2021-04-10 09:07] jamespfarrell opened #762 "Suggest network change with Metamask"
It's now possible to suggest a network change using Metamask... We should make this a link that does that.
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/b2a4ca4b-f377-4556-bf46-704887aca8e6)

[2021-04-10 09:25] jamespfarrell opened #763 "Wallet connet"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/b981f1dd-a968-4779-92fc-77a77c0dad5c)

![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/1dfbf5aa-a891-4133-b844-74b3e161fbf4)

[2021-04-10 13:00] markoprljic opened #764 "Integrate Unsplash API for project header images"
## 📋 Anything to add?

Integrate Unsplash API for header images.

Example integration from Audius when selecting a header image for the profile.

![Image 2021-04-10 at 2 53 01 pm](https://user-images.githubusercontent.com/5704285/114270576-6eda8880-9a0d-11eb-9412-f0905d78814d.jpg)

## ⏰ Urgency/Deadline/Blockers?
Nice to have.

## ❓ Why is it important?
Not to rely on our own image library, give t

[2021-04-10 15:22] WhyldWanderer opened #765 "Unable to click hyperlinks within project description"
I am unable to click hyperlinks within project descriptions.

![image](https://user-images.githubusercontent.com/74267818/114275037-3b343a00-99de-11eb-99b8-f8e439e57c13.png)

[2021-04-10 15:54] WhyldWanderer commented on #752
@Danibelle @MerlinEgalite this content is pulled from contentful. You can find the login information posted by Kay in the ops channel on Discord.

[2021-04-10 19:04] WhyldWanderer opened #766 "Explore better fiat integration options"
Im creating this issue so that we can continue to explore better options for fiat integration and so the discussion isnt lost in the dev channel.

Kay has created a notion document to track pros and cons of various options.
https://www.notion.so/giveth/Fiat-on-off-ramp-00196f93f2af48fda27f78bcdbd864a5

this issue is related to issue #435
https://app.zenhub.com/workspaces/giveth-2-5ecaa273967d38671

[2021-04-10 19:05] WhyldWanderer commented on #766
From James:
Giving 100$ should be 100% efficient
This can be done on xDai for example.
but if they ramp fiat onto xdai with ramp.network they take 3% with each fiat onramp
so that means there's no incentive for them to ramp say $1000
because they still lose $30
They may as well just ramp $100 of crypto 10 times, and lose the same as fees
For me we're not offering anything better than kickstarter w

[2021-04-10 19:06] WhyldWanderer commented on #766
From Dani:
This is in the Gaia Gives dream deck, the "giving portfolio" .. you put funds in it periodically, change your monthly recurring allocations across projects as you view updates etc.

[2021-04-10 19:10] WhyldWanderer commented on #766
From Ashley
Soooo I dove down a fiat on-ramping rabbit hole today to see what I could find/learn. It seems that this is a key issue in the crypto world right now and there are many people working to bridge the gap. My internal dev language translator is not super robust so Im not highly confident in my ability to read the code for the apis and how it would integrate into giveth specifically but I

[2021-04-10 19:15] WhyldWanderer commented on #766
From @willyogo :
The only documentation I have is the original fiat donation spec that we used for the stripe integration: [https://docs.google.com/document/d/1vDocYi3hT_lBvho3XWmw-wYCX4vZczVTgD-eZqbTxS8/edit?usp=sharing](https://docs.google.com/document/d/1vDocYi3hT_lBvho3XWmw-wYCX4vZczVTgD-eZqbTxS8/edit?usp=sharing)

All the rest of the my familiarity with the jungle comes from the research I've

[2021-04-11 07:50] MerlinEgalite commented on #734
So we leave that like this or do you have something else in mind?

[2021-04-11 07:52] markoprljic commented on #734
I'm thinking about removing the line and total value, keeping just donation and fee

[2021-04-11 08:01] MerlinEgalite commented on #734
Or we can keep the line, remove the Total Donation Amount above the line and put it behind ? I like the fact we emphasise what the user is giving

[2021-04-11 08:04] markoprljic commented on #734
I'm not sure I'm following.

[2021-04-11 08:11] MerlinEgalite commented on #752
@WhyldWanderer In Giveth discord? I don't see any ops channel... 😶

[2021-04-11 08:16] MerlinEgalite commented on #734
<img width="572" alt="Screenshot 2021-04-11 at 09 14 16" src="https://user-images.githubusercontent.com/44097430/114297093-ffb57080-9aae-11eb-8a0b-0907591e6fde.png">

 Like that

[2021-04-11 08:23] markoprljic commented on #734
I get it. But no need for the line IMO.

[2021-04-11 08:38] MerlinEgalite commented on #734
yes you're right! I can implement it if you're confortable with that!

[2021-04-11 08:51] markoprljic commented on #734
Yes, let's do that.

[2021-04-11 09:07] MerlinEgalite commented on #734
![Uploading Screenshot 2021-04-11 at 10.06.55.png…]()

[2021-04-11 09:11] markoprljic commented on #734
Perfect

[2021-04-11 11:09] markoprljic commented on #655
So I'm seeing that we need to focus on Web2 mental models first and Web3 second, meaning we should offer a traditional sign up / Sign in process with the addition of Web3 capabilities (wallet connect).

We could potentially swap the position of sign in options and highlight the traditional options.

Example Audius:

![Image 2021-04-11 at 1 04 10 pm](https://user-images.githubusercontent.com/570428

[2021-04-11 13:00] jamespfarrell commented on #746
Ok I have added identity upon profile update, if the user is logged in and donates... haven't fully tested everything but got emails for adding a project.

I now wonder if we only had this working for logged in with Torus users before...  makes sense....

[2021-04-11 14:33] divine-comedian commented on #668
@MerlinEgalite  still no change in the default GWEI price, testing on staging with clean cache and cookies -
![image](https://user-images.githubusercontent.com/67759413/114308294-4c9a4680-9ab1-11eb-9c24-0b677d9bc913.png)

[2021-04-11 14:35] mateodaza commented on #668
It's not merged to staging yet - I noticed there's the PR, I'll check

[2021-04-11 14:42] mateodaza commented on #623
GREAT! Will add them up - thank you man

[2021-04-12 10:49] aminlatifi commented on #747
@jamespfarrell Any update?

[2021-04-12 19:29] jamespfarrell commented on #591
Merlin tested and this is working

[2021-04-13 00:13] mateodaza commented on #727
Just integrated it on staging for testint!

[2021-04-13 12:17] markoprljic commented on #603
@mateodaza or @MerlinEgalite One of you take it from here?

[2021-04-13 12:18] markoprljic commented on #582
@mateodaza @MerlinEgalite @jamespfarrell Adding you to this issue whoever takes it for next steps.

[2021-04-13 12:21] markoprljic commented on #689
@jamespfarrell It would be good to clarify this issue further so that I can make further UI updates. Adding this to dev call agenda unless we communicate here.

[2021-04-13 13:08] MerlinEgalite commented on #603
Can do it if you want @mateodaza !

[2021-04-13 14:35] divine-comedian commented on #591
On the search bar I can sort by hearts. It seems to sort correctly now.
I tested this feature while signed it and also while not signed in to an account.

![image](https://user-images.githubusercontent.com/67759413/114570101-8bf89c80-9c43-11eb-98c7-d1b396c914ac.png)

I tested adding a heart to a project and see if it moved up the list on page refresh and it also seemed to update correctly.

[2021-04-13 14:59] divine-comedian commented on #580
testing out the graphQL queries - everything we need to calculate a retroactive GIVback seems to capture properly
It is however in fact, very public. Transparency, right? I'll consider this closed and for the privacy issue we'll refer to Griff's new issue mentioned above.

![image](https://user-images.githubusercontent.com/67759413/114574180-0676eb80-9c47-11eb-9993-515b7f6f12af.png)

[2021-04-13 15:05] mendesfabio commented on #580
yes @divine-comedian! the scripts to calculate GIVbacks can be found at https://github.com/Giveth/givbacks-scripts.

[2021-04-13 15:09] divine-comedian commented on #714
@MerlinEgalite see comment above! ^

![image](https://user-images.githubusercontent.com/67759413/114575953-ad0fbc00-9c48-11eb-97a3-76a6adad621f.png)

[2021-04-13 15:14] divine-comedian commented on #623
xDAI tokens are looking hella slick!

![image](https://user-images.githubusercontent.com/67759413/114576363-1099e980-9c49-11eb-9a0a-305085b745b6.png)

MATIC looks like it calmed down as well.
![image](https://user-images.githubusercontent.com/67759413/114576459-2a3b3100-9c49-11eb-8aff-496a58e02c6f.png)

[2021-04-13 15:38] divine-comedian commented on #728
I'm testing the feature here to add validation to the website field on my user profile.

I can't seem to add a website to my profile now.
@mateodaza
![image](https://user-images.githubusercontent.com/67759413/114580068-89e70b80-9c4c-11eb-88e1-b92b1e3a3239.png)
![image](https://user-images.githubusercontent.com/67759413/114580221-aa16ca80-9c4c-11eb-9c09-7c3ec8da1a81.png)

[2021-04-13 15:39] mateodaza commented on #728
Weird, I'll take a look

[2021-04-13 20:55] mateodaza commented on #603
Go! :D

[2021-04-13 21:18] mateodaza commented on #441
@markoprljic I know someday we discussed about limiting what the user can add on styles for the formatting of the content, please take a look at this [codepen](https://codepen.io/alexkrolick/pen/xgyOXQ?editors=0010#0) and let me know what we should remove from it.

in my opinion it would only be the different font families there but maybe you have a better idea

[2021-04-13 21:20] mateodaza commented on #441
I just noticed this issue relates to a bigger one #391

The implementation of rich text would allow to add images, videos and custom styling

[2021-04-13 21:21] mateodaza commented on #391
From issue #441 -->> I'm thinking on implementing [QuillJS](https://github.com/zenoamaro/react-quill)

@markoprljic I know someday we discussed about limiting what the user can add on styles for the formatting of the content, please take a look at this [codepen](https://codepen.io/alexkrolick/pen/xgyOXQ?editors=0010#0) and let me know what we should remove from it.

in my opinion it would only be

[2021-04-14 08:59] MerlinEgalite commented on #714
<img width="531" alt="Screenshot 2021-04-14 at 09 58 16" src="https://user-images.githubusercontent.com/44097430/114683526-638aa400-9d10-11eb-8261-670625ddcae5.png">

Is it good like that?

[2021-04-14 10:09] markoprljic commented on #441
Let's talk about it on dev call.

[2021-04-14 14:05] geleeroyale commented on #709
There were remnants of code to implement exactly this requested property to the github popup - I uncommented the code as it looked good to me, but it won't work. My voodoo is bad today it seems.

Here is a full view of `GithubIssue.js`:
[code]

[2021-04-14 14:21] mateodaza commented on #709
Can you check staging? I worked on this a couple of days ago - I didn't know there was an issue already, my bad

[2021-04-14 14:32] geleeroyale commented on #595
Update - support messages go directly into the support channel now. No need to integrate with segment for the moment.

[2021-04-14 15:28] GriffGreen commented on #655
<img width="701" alt="Screen Shot 2021-04-14 at 8 28 25 AM" src="https://user-images.githubusercontent.com/14945613/114736969-ddd61b00-9d46-11eb-9bdc-b54f09bcbf12.png">

[2021-04-14 15:33] markoprljic commented on #689
https://docs.giveth.io/guides/qualityscore/

[2021-04-14 15:39] GriffGreen opened #770 "What Pan are we talking here? - Deal with coins that hae the same ticker symbol"
<img width="417" alt="Screen Shot 2021-04-14 at 8 37 45 AM" src="https://user-images.githubusercontent.com/14945613/114738369-30fc9d80-9d48-11eb-93e7-f4232c331155.png">

https://www.coingecko.com/en/coins/pantos
28 cents
vs

https://www.coingecko.com/en/coins/panvala-pan
11 cents

[2021-04-14 20:46] laurenluz opened #772 "Update "About Us / Team" Section of Giveth.io"
It would be great if this page had a more accurate representation of our Team...

Delete Ben
Delete Bryan (?)
Add Ashley (Community Management)
Add Forest (Project Management)
Change Lauren Title (Communications)
Add Merlin (?)

Re-order contributors... either Alphabetical or According to Seniority

Also perhaps it makes sense to have the TRACE team on TRACE, and the giveth.io team on giveth.io?
O

[2021-04-14 21:09] laurenluz opened #773 "Improve login UI to make Torus option more obvious to those totally new to crypto"
This is from feedback from several of our new-to-crypto users. It is not obvious to new users that they must choose Torus if they do not already have MetaMask installed.

Mateo made a fix already on staging to improve this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ebd14d6f-206f-4bb3-82cc-9a1ba607fccb)

But we could improve upon this further. So, my suggestions:

[2021-04-14 21:21] laurenluz opened #774 "The statement "You only are able to see the MetaMask login option if you have MetaMask installed" is false"
I've heard this so many times in our calls... That you should only be able to see the "login with MetaMask" option if you have a MetaMask browser extension, but I just tested it and it's not true.

I tested on Firefox and Chrome and on giveth.io and staging. It always gives me the MetaMask option and when I click it it opens up a new tab so that I can install the browser extension.

So the questio

[2021-04-14 21:25] #708 closed

[2021-04-14 21:27] #459 closed

[2021-04-14 21:29] #431 closed

[2021-04-14 21:33] laurenluz commented on #421
@mateodaza just to confirm... you said in the dev call today that the popup, once closed, stays closed for 3 days?

I'm testing now on staging and it didn't even popup at the start of my session. I think it would be good to have it at least popup once at the beginning....

[2021-04-14 21:37] #423 closed

[2021-04-14 21:37] #396 closed

[2021-04-14 21:38] #184 closed

[2021-04-14 21:38] #216 closed

[2021-04-14 21:38] #202 closed

[2021-04-14 21:41] #279 closed

[2021-04-14 21:42] #463 closed

[2021-04-14 21:43] laurenluz commented on #508
![image](https://user-images.githubusercontent.com/75490971/114784211-2b975700-9d38-11eb-9895-77e71d389238.png)

[2021-04-14 21:43] #508 closed

[2021-04-14 21:44] #108 closed

[2021-04-14 21:45] #660 closed

[2021-04-14 21:45] #613 closed

[2021-04-14 21:46] #661 closed

[2021-04-14 21:47] #515 closed

[2021-04-14 21:48] #435 closed

[2021-04-14 21:49] #403 closed

[2021-04-14 21:49] #325 closed

[2021-04-14 21:49] #280 closed

[2021-04-14 21:59] laurenluz opened #775 "Cancelled projects showing up again upon page refresh - rebuild issue?"
On giveth.io, I noticed that on the projects page a project I *knew* was cancelled (Giveeth) was showing up near the top again:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/372d8f5a-fcb5-4e30-bae4-467c64bda08e)

And then after about 10s it disappears:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3723d5a0-7319-45d7-b7a4-1773245f6fbf)

If

[2021-04-14 22:02] #704 closed

[2021-04-14 22:02] #577 closed

[2021-04-14 22:03] #711 closed

[2021-04-14 22:03] #493 closed

[2021-04-14 22:04] #500 closed

[2021-04-14 22:04] #460 closed

[2021-04-14 22:04] #540 closed

[2021-04-14 22:05] #543 closed

[2021-04-14 22:05] #649 closed

[2021-04-14 22:06] #621 closed

[2021-04-14 22:07] #334 closed

[2021-04-14 22:07] #598 closed

[2021-04-14 22:12] laurenluz commented on #746
I just donated to a project (logged in and on live), and received an email, but the email content was somewhat of a mystery:

![image](https://user-images.githubusercontent.com/75490971/114786916-23d9b180-9d3c-11eb-98c6-12cedac6f0b4.png)

[2021-04-14 22:18] laurenluz opened #776 "My donation on live not showing up on the project page"
## 📋 Anything to add?

I donated to Bridging digital communities w xDai on live, and it just doesn't show up properly:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0e87f4a7-a2a3-407e-80e7-339f345bded4)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/42c75d56-0700-431c-88dc-bedde16745bf)

I also received a donation email that didn't include

[2021-04-14 22:20] #523 closed

[2021-04-14 22:21] #61 closed

[2021-04-14 22:22] #426 closed

[2021-04-14 22:22] #526 closed

[2021-04-14 22:24] #546 closed

[2021-04-14 22:25] #292 closed

[2021-04-14 22:25] #583 closed

[2021-04-14 22:27] #519 closed

[2021-04-14 22:27] #682 closed

[2021-04-14 22:33] #591 closed

[2021-04-14 22:33] #584 closed

[2021-04-14 22:34] #671 closed

[2021-04-14 22:34] #679 closed

[2021-04-14 22:35] laurenluz commented on #695
works fine on live

![image](https://user-images.githubusercontent.com/75490971/114788842-6c469e80-9d3f-11eb-8a3b-2b324260c234.png)

[2021-04-14 22:35] #695 closed

[2021-04-14 22:36] #355 closed

[2021-04-14 22:37] #545 closed

[2021-04-14 22:38] #356 closed

[2021-04-14 22:39] #645 closed

[2021-04-14 22:40] #264 closed

[2021-04-14 22:43] #732 closed

[2021-04-14 22:43] #699 closed

[2021-04-14 22:44] #561 closed

[2021-04-14 22:44] #518 closed

[2021-04-14 22:46] laurenluz commented on #776
oh, I lied. It just wasn't on the first page (I thought they were organized according to donation time)
![image](https://user-images.githubusercontent.com/75490971/114789845-fcd1ae80-9d40-11eb-86a8-af22cf81e229.png)

[2021-04-14 22:46] #776 closed

[2021-04-14 22:51] laurenluz commented on #774
there's already an issue for this: #655

[2021-04-14 23:05] laurenluz opened #777 "As a user, I want to see donations to projects sorted/organized in a logical way (i.e. by chronological order)"
## 📋 Anything to add?
I donated to this project and thought that my donation was not showing up because there seems to be no logical order here, even though on first glance, it appears that they are sorted by date. Please let's actually sort them by date.

And let's remove page 4 if there is no page 4 (as below)

page1
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/95e8

[2021-04-14 23:07] laurenluz commented on #773
there's already an issue for this: #655

[2021-04-14 23:07] #773 closed

[2021-04-14 23:10] laurenluz commented on #777
This should also be applied to the "my donations page" as per Mitch's comment in #518

[2021-04-14 23:13] #541 closed

[2021-04-14 23:13] #525 closed

[2021-04-14 23:13] #548 closed

[2021-04-14 23:15] #549 closed

[2021-04-14 23:15] #528 closed

[2021-04-14 23:15] #497 closed

[2021-04-14 23:17] #404 closed

[2021-04-14 23:18] #597 closed

[2021-04-14 23:23] laurenluz commented on #709
On staging for me it is not coming up at all anymore... @mateodaza did you say you set it so that it is gone for 3 days? Any way we can have it popup at the start of each session instead? (and then stay away for the duration of the session if the user clicks the X)

[2021-04-14 23:24] laurenluz commented on #633
working on this in the google doc here: https://docs.google.com/document/d/1cfpVRJD0d9OJPzlwLPhzfueVOMLc7gBOG1v5VxUZOcQ/edit

it's a WIP

[2021-04-14 23:25] laurenluz commented on #400
yay! fixed
![image](https://user-images.githubusercontent.com/75490971/114792898-715b1c00-9d46-11eb-8fac-01fd42685877.png)

[2021-04-14 23:26] #400 closed

[2021-04-14 23:29] laurenluz commented on #750
This is working fine now 🤔
![image](https://user-images.githubusercontent.com/75490971/114793081-d4e54980-9d46-11eb-9a35-96f2ed7f4a8e.png)

[2021-04-14 23:29] #750 closed

[2021-04-14 23:31] #455 closed

[2021-04-15 05:08] hannahjojo opened #778 "Typo in Banner on Giveth.io homepage prompting users to use xDAI network, network spelled "netwok""
## 📋 Anything to add?
See screenshot. The blue/purple banner on the top spells network as "netwok"
<img width="1305" alt="Screen Shot 2021-04-14 at 11 06 23 PM" src="https://user-images.githubusercontent.com/82562727/114816819-2d800b00-9d76-11eb-8592-f914d0680d21.png">

## ⏰ Urgency/Deadline/Blockers?
Somewhat urgent?

## ❓ Why is it important?
So Giveth appears reliable and professional :-)

## 🎉

[2021-04-15 05:31] willyogo commented on #766
Filled out Transak's KYB application and will let you guys know as soon as we hear back.

Also threw together a quick high level spec for an MVP fiat donation flow: https://www.notion.so/giveth/Spec-Fiat-donations-262844c8a02c48f3b23a6d0a7f3aab2a

[2021-04-15 06:33] markoprljic commented on #655
@mateodaza Let's swap positions for sign in options like shown below:

![Image 2021-04-15 at 8 26 31 am](https://user-images.githubusercontent.com/5704285/114823854-59c27880-9dc4-11eb-863d-5495250dd50c.jpg)

Make the whole upper section trigger Torus and user will select the sign in option there.

![Image 2021-04-15 at 8 29 11 am](https://user-images.githubusercontent.com/5704285/114824479-377d2a8

[2021-04-15 08:28] #714 closed

[2021-04-15 13:21] mateodaza commented on #774
happens that I forgot to add that with the new design haha, thanks for noticing

[2021-04-15 13:46] markoprljic commented on #774
@mateodaza Please see my last update and comment in this issue https://github.com/Giveth/giveth-2/issues/655#issuecomment-820155130

[2021-04-15 13:47] mateodaza commented on #655
Gotcha

[2021-04-15 16:55] markoprljic commented on #391
@mateodaza Can we modify the UI of the text editor (icons, color, style)?

[2021-04-15 17:30] laurenluz commented on #756
This is still going to etherscan @MerlinEgalite
![image](https://user-images.githubusercontent.com/75490971/114912887-c5650f80-9ddd-11eb-9fc2-b16448bc3633.png)

[2021-04-15 17:49] laurenluz commented on #749
ooh testing on live and I'm seeing the same issue that Mitch mentioned... When I sort by hearts, everything is fine. When I sort by default there are some "early adopters" near the bottom... assuming because of the quality score being implemented afterwards. Can we manually update this somehow? @jamespfarrell @mateodaza

This is like half way down the projects page, sorting by default... the Commo

[2021-04-15 17:53] mateodaza commented on #749
The sorting is fine, interestingly enough James project quality score is 40, when commons stack is 30 - not sure why but I'd like to see what happened there @jamespfarrell

[2021-04-15 18:34] markoprljic opened #780 "Remove the badge showing amount raised on Project cards?"
## 📋 Anything to add?
We're not using the Raised badge on project cards, we're not showing the amount a project has raised. Is that correct?
All projects just show as "New".

Do we plan to show the amounts and if not should we remove that badge?

## 🔗 Work doc - inspirational links

![Image 2021-04-15 at 8.34.13 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/466f7607-fb47-4e

[2021-04-15 21:00] laurenluz commented on #749
The Commons Stack should have a quality score of 100 (the maximum) because it has 20 hearts and each heart is worth 10... it also has a picture and description more than 100 characters.

So the score is not being calculated correctly.

https://docs.giveth.io/guides/qualityscore/

[2021-04-15 21:50] divine-comedian commented on #749
retroactively updating the quality score was something James and I had tried to work on together but it's been hard to schedule.

[2021-04-15 22:48] #644 closed

[2021-04-15 22:56] #603 closed

[2021-04-15 23:30] mateodaza commented on #421
can you try again logged out or incognito?

[2021-04-15 23:32] #697 closed

[2021-04-15 23:46] laurenluz commented on #728
I was able to add my email to my profile no problem.

Also I checked Dani's profile to follow the link to her site and it worked just fine:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/97337b70-b3f5-447c-ab86-855e978b654f)

I tried it with mine though... and it looks like since I copy/pasted the whole URL into the "my website" spot... clicking it open makes the URL f

[2021-04-16 00:00] laurenluz commented on #655
oooh I love the new UI looks great:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/5ebbe138-6eee-4b01-84b8-cf83065511fd)

I tested by clicking all the buttons, found an issue:

the mail and twitter buttons:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a7a145b0-3f58-4977-8e20-3a7d3bb57f1d)

lead to this
![image.png](https://images.zenhubuse

[2021-04-16 00:00] mateodaza commented on #655
Not broken, torus doesn't allow direct login with e-mail and twitter - It's redundant but it's all we are able to do so far

[2021-04-16 00:04] laurenluz commented on #421
I tested it in incognito and yes, it comes up. but if I close the popup and reload staging in a new tab, it doesn't show up again. I think it would be nice to have it at least once at the start of each session, rather than have it gone for 3 days.

[2021-04-16 00:04] laurenluz commented on #425
how do we test this? can this be closed? @mateodaza

[2021-04-16 00:06] laurenluz commented on #717
yeah, it's good. text is updated and not GIVing away anything ;)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/6e796d29-ef2c-4225-821f-13eb09146193)

[2021-04-16 00:27] mateodaza commented on #655
Related to this, discussing with @laurenluz, we got the idea to remove e-mail and twitter individual options and let the user choose another option that says 'see more options' and then show the general torus popup

If we show it again the UX would feel really bad for the user, a bit redundant to click twitter and then again being asked.

We can also ask torus team how long would they take them to

[2021-04-16 00:33] mateodaza commented on #728
Thank you! Fixed now

[2021-04-16 08:52] MerlinEgalite commented on #756
Did you tried on staging?
It works on staging for me 😶

[2021-04-16 10:34] markoprljic commented on #582
@MerlinEgalite Wanna take this?

[2021-04-16 10:36] markoprljic commented on #642
@MerlinEgalite Wanna add a modal saying Metamask wallet loading and putting the spinner there. We have existing modal views that can be reused.

[2021-04-16 12:18] TheAlexandru opened #783 "Unable to post an update"
When I try to post an update I get this error:

`{error: Error: Cannot read property 'id' of null
    at new t (https://giveth.io/app-7e5e795f9caa2977109e.j…}
error: Error: Cannot read property 'id' of null at new t (https://giveth.io/app-7e5e795f9caa2977109e.js:2:253697) at Object.next (https://giveth.io/app-7e5e795f9caa2977109e.js:2:232447) at g (https://giveth.io/app-7e5e795f9caa2977109e.js:2:4

[2021-04-16 14:59] laurenluz commented on #780
I don't have a strong opinion on if should show the amounts or not, but I do think that we should change the functionality of the "new" circle at the very least.

So it says "new" when it's first added and then after a week (or some predetermined time) the "new" goes away.

[2021-04-16 15:16] MerlinEgalite commented on #777
Do you still see the page 4 @laurenluz ?
I can't reproduce you bug...

[2021-04-16 15:53] willyogo commented on #638
In order to send projects an email when they receive a donation, we need to trigger a segment event with the userID of the project. It can have all of the same properties as the 'Made Donation' event, but the userID should be the project owner's rather than the donors. We currently have both the `Project Updated - donor` and `Project Updated - project` events, can we do the same thing here?

[2021-04-16 16:42] MerlinEgalite commented on #642
<img width="1440" alt="Screenshot 2021-04-16 at 17 41 28" src="https://user-images.githubusercontent.com/44097430/115056612-5d98ec80-9ee3-11eb-858a-19f324a68cd7.png">

@markoprljic
What wording do you want on the popup? And tell me if you want to make some changes on the design too.

[2021-04-16 16:51] markoprljic commented on #642
Looking good.

I'd change the text to read:

Title: Opening Metamask ...
Subtext: Metamask should open in a moment, please confirm your sign in.

Maybe someone could help with the language here? @laurenluz @divine-comedian ?

[2021-04-16 17:52] laurenluz commented on #756
I'm on staging!
![image](https://user-images.githubusercontent.com/75490971/115064401-1c381b00-9eaa-11eb-9aad-3ffa35004663.png)
![image](https://user-images.githubusercontent.com/75490971/115064446-29550a00-9eaa-11eb-938d-8cb6b8d9e9a5.png)

[2021-04-17 09:34] jamespfarrell commented on #765
@mateodaza Is this now fixed with the rich text editor change?

[2021-04-17 10:02] jamespfarrell commented on #763
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/26d9e210-5a8f-4137-8190-588b7a9bc378)

[docs](https://docs.blocknative.com/onboard#initialization)

[2021-04-17 10:07] markoprljic commented on #647
Related https://github.com/Giveth/giveth-2/issues/764

[2021-04-17 16:32] mateodaza commented on #765
It will be!

[2021-04-18 17:30] laurenluz commented on #642
What about this....

Title: Connecting to Metamask
Subtext: Please confirm sign in through your MetaMask popup window.

[2021-04-18 17:40] laurenluz commented on #777
Hey @MerlinEgalite, on staging, it looks like it's working fine (see image), but on live, the issue still occurs... it shows "page 4" only when I am *on* page 3.

from staging (no issue):
![image](https://user-images.githubusercontent.com/75490971/115154959-d068ab80-a03a-11eb-8960-3579d6e77fd2.png)

from live (issue):
![image](https://user-images.githubusercontent.com/75490971/115154939-b9c25480-a

[2021-04-18 18:24] markoprljic commented on #642
Yes!

[2021-04-19 08:34] MerlinEgalite commented on #777
Cool ! I think this is just because the live version is still not up to date with staging @laurenluz

[2021-04-19 08:36] MerlinEgalite commented on #642
Good! Then we stand for @laurenluz 's wording? @markoprljic @divine-comedian

[2021-04-19 08:37] markoprljic commented on #642
Yes, go! Close! 😁

[2021-04-19 13:12] markoprljic commented on #780
Yeah, maybe we should keep the NEW label and remove the amounts for time being. We can always switch that on I guess when we feel comfortable displaying such information. We do show it on project details page but maybe doesn't have to be visible on the front page immediately, especially since donation amounts are low at the beginning.

[2021-04-19 13:27] WhyldWanderer commented on #752
@MerlinEgalite Sorry for the delay... I checked with Kay and he should have updated your roles in Discord yesterday. Please let me know if you can see the internal channels now?

[2021-04-19 14:29] geleeroyale opened #788 "Support Chat Widget"
First implementation on my local works:

![image](https://user-images.githubusercontent.com/317685/115251174-91198800-a12a-11eb-9131-11809ca0ba7f.png)

We should decide if we want to use this approach and if we do:

1 - we should officially start supporting the builders of this on Patreon (to get access to custom CSS and other options)
https://www.patreon.com/join/widgetbot

2 - spec the feature t

[2021-04-19 15:16] mateodaza commented on #391
yes we can!

[2021-04-19 15:20] markoprljic commented on #291
Can we review this Epic and potentially close it, move issues that are Fast follow into Backlog or something?

[2021-04-19 15:23] markoprljic opened #790 "Design UI for the Rich Text Editor"
## 📋 Anything to add?
Related issue https://github.com/Giveth/giveth-2/issues/391

[2021-04-19 15:41] WhyldWanderer commented on #780
As a project owner, I would prefer to keep the amount raised in the project description page so that it encourages donors to learn more about the project to find this information if they want to know.

As a donor, there is already functionality to sort projects by amount raised so it isnt necessary to display that info on a label.

Once the "new" label expires, we can use this space for the verifi

[2021-04-19 16:29] laurenluz commented on #780
Yessss! +1 on using the space for the "verified" label, if applicable later. Great idea @WhyldWanderer

[2021-04-19 17:10] #717 closed

[2021-04-19 17:11] MerlinEgalite commented on #752
Yeah it's fine @WhyldWanderer thank you!

[2021-04-19 17:11] #659 closed

[2021-04-19 17:12] #707 closed

[2021-04-19 17:13] #579 closed

[2021-04-19 17:17] #448 closed

[2021-04-19 17:21] laurenluz opened #791 "As a donor, I want to be able to change my donation wallet when using xdai chain"
This is already a feature when donating and logged in via metamask on mainnet
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/eaead2e9-4ddb-4185-9aef-fb31c3c53f9e)

but it would be nice if it were also possible on xdai. right now, when logged in w xdai, it looked like this:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/a0b18216-11ab-4230-af40

[2021-04-19 17:22] #484 closed

[2021-04-19 17:22] #386 closed

[2021-04-19 17:23] #190 closed

[2021-04-19 17:24] #464 closed

[2021-04-19 17:24] #427 closed

[2021-04-19 17:28] #623 closed

[2021-04-19 18:03] laurenluz commented on #734
The gas $ value isn't being calculated correctly on live (mainnet and xdai)

xdai
![image](https://user-images.githubusercontent.com/75490971/115281992-e479df00-a106-11eb-935a-8ddc02a1f654.png)

mainnet
![image](https://user-images.githubusercontent.com/75490971/115282103-06736180-a107-11eb-9289-39efba60e065.png)

(same is true on staging)

[2021-04-19 18:10] #241 closed

[2021-04-19 18:12] #248 closed

[2021-04-19 18:12] #111 closed

[2021-04-19 18:12] #84 closed

[2021-04-19 18:13] #170 closed

[2021-04-19 18:13] #141 closed

[2021-04-19 18:13] #308 closed

[2021-04-19 18:14] #189 closed

[2021-04-19 18:14] #615 closed

[2021-04-19 18:15] #619 closed

[2021-04-19 18:15] #596 closed

[2021-04-19 18:15] #648 closed

[2021-04-19 18:16] #486 closed

[2021-04-19 18:16] #617 closed

[2021-04-19 18:17] #677 closed

[2021-04-19 18:17] #524 closed

[2021-04-19 18:17] #620 closed

[2021-04-19 18:18] #693 closed

[2021-04-19 18:18] #683 closed

[2021-04-19 18:18] #684 closed

[2021-04-19 18:23] MerlinEgalite commented on #712
Should we close this issue or reformulate it?

[2021-04-19 18:31] laurenluz commented on #678
Since we don't have Fiat donations as an option right now, I think it makes sense to remove this until we do... Otherwise it's pretty confusing to the user.

@mateodaza

[2021-04-19 18:44] MerlinEgalite commented on #734
For xDAI this is normal as the amount of xDai i son tiny that it rounded to $0.00 (dollar has only 2 decimals). But maybe we can remove it on xDAI or show the xDai amount like $0.000042. What do you prefer @laurenluz ?

[2021-04-19 18:50] laurenluz commented on #734
no no, but look... it is not correctly calculating on Mainnet either. It is always just saying $0.00..... 0.005 ETH is at least $10.

also maybe I'm wrong, but I think on xDAI too, that's not right... I put in 10 trillion HNY which is like 7 quadrillion dollars?? is the fee really less than a penny to donate 7 quadrillion dollars worth on xdai?

[2021-04-19 18:54] laurenluz commented on #734
and hmm... i think it is ok to leave the dollars at two decimal places. But perhaps we can add the text "less than" if it is showing less than $0.01? So they know it has a value still?

[2021-04-19 18:56] #479 closed

[2021-04-19 18:57] #654 closed

[2021-04-19 18:58] #646 closed

[2021-04-19 18:58] #544 closed

[2021-04-19 18:59] #564 closed

[2021-04-19 18:59] #471 closed

[2021-04-19 19:00] #399 closed

[2021-04-19 19:00] #424 closed

[2021-04-19 19:00] #401 closed

[2021-04-19 20:07] MerlinEgalite commented on #734
Sure there is an issue yes

Fees do not depend on the amount you move: you just pay for the gas used for an ERC20 transaction whatever the amount and the receiver. So for sending 10 trillion HNY or just 1 HNY, you'll pay the same fee.

Yes good idea, I'll change it!

[2021-04-19 21:28] MerlinEgalite commented on #791
@mateodaza is there a reason why on xDAI this is not shown?

[2021-04-19 21:44] #425 closed

[2021-04-19 21:46] laurenluz commented on #734
Ok great - thanks for clarifying Merlin!

[2021-04-19 22:48] laurenluz opened #793 "As a non logged in donor, I want to be able to donate (does not allow me to select or change a wallet, says "insufficient funds")"
Testing on live with brave private browser. There is no option below "donate" to change wallet, and when I click donate, rather than allowing me to choose a wallet, it says "insufficient funds"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/00507d5b-01f4-4716-afe8-cc9b873b454e)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3295d265-fdc0-46

[2021-04-19 23:09] mateodaza commented on #793
ok this one is urgent, will check now

[2021-04-19 23:25] mateodaza commented on #793
It should be working soon, site is building :)

[2021-04-20 13:14] #585 closed

[2021-04-20 18:08] WhyldWanderer commented on #421
As a user, if I want to provide feedback but have already closed the pop-up, there is no way to do so.
Can we add a link somewhere to allow for feedback even after the pop up has been closed?

[2021-04-20 18:58] geleeroyale commented on #421
I think we have to rework this as well. Once the support widget is ready, I am sure people will prefer it over making Github issues, so *only devs* would use this feature going forward.

IMO we should go back to the traditional approach that TRACE uses as well (have a GitHub button - ideally - in the header of the DApp)

OR if we want to keep the popup - have the gitcoin button appear once the pop

[2021-04-21 12:05] positonic commented on #451
I can confirm that it's not possible to login using metamask on mobile at present.

[2021-04-21 14:23] positonic commented on #647
I got feedback from a user that this was a problem for them, and I saw that it cut off the heads of people

[2021-04-21 14:39] #774 closed

[2021-04-21 14:44] jamespfarrell opened #794 "As a project owner I want to preview my project"
[Comes from this user feedback](https://app.zenhub.com/workspaces/giveth-2-5ecaa273967d386713036ca4/issues/giveth/giveth-2/592)

I believe we need a preview link of the project owner page

[2021-04-21 14:45] positonic commented on #592
[broke out into this](https://app.zenhub.com/workspaces/giveth-2-5ecaa273967d386713036ca4/issues/giveth/giveth-2/794)

[2021-04-21 14:46] positonic commented on #592
I created a new issue above for the one of these, the first issue we can't do anything about without removing Torus, and I believe that the 3rd one is fixed now

[2021-04-21 14:46] #592 closed

[2021-04-21 14:49] #381 closed

[2021-04-21 14:51] #390 closed

[2021-04-21 14:52] #379 closed

[2021-04-21 14:54] #378 closed

[2021-04-21 14:59] #196 closed

[2021-04-21 14:59] #177 closed

[2021-04-21 14:59] #181 closed

[2021-04-21 15:00] #183 closed

[2021-04-21 15:00] #224 closed

[2021-04-21 15:24] geleeroyale commented on #772
I think we came to the agreement to not delete people from the team as they all had valid contributions - we could deprecate their role to *something something contributor* tho

[2021-04-21 15:26] laurenluz commented on #650
@jamespfarrell & @laurenluz to bring this to a final state... assign different flows to individual testers, ensure that we have organized, thorough, testing

[2021-04-21 15:26] geleeroyale commented on #681
Cross referencing this issue from **giveth-planning**

https://github.com/Giveth/giveth-planning/issues/177

[2021-04-21 15:34] positonic commented on #709
#421

[2021-04-21 15:38] WhyldWanderer commented on #421
During the dev call on Wednesday 4/21 we talked about needing a larger conversation around how we will collect user feedback and provide support to users - Added to this epic so that we can discuss it further

[2021-04-21 15:43] laurenluz commented on #715
This should be fixed now with the fixes on the sort/filter/serach function.

[2021-04-21 15:43] #715 closed

[2021-04-21 15:44] MerlinEgalite opened #795 "Fix UX with click on Dropdown / Signing etc."
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?
UX is super important!

## 🎉 Subtasks

- [ Make a video of the issue]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-21 15:48] WhyldWanderer opened #796 "Define how we will collect and categorize user feedback"
There has been many conversations about how we will collect user feedback
-contact us
-typeform integration
-support chat

This epic was created so we can discuss our options and choose how we will move forward.

[2021-04-21 15:53] #522 closed

[2021-04-21 15:57] #641 closed

[2021-04-21 16:00] positonic commented on #765
part of rich test editor

[2021-04-21 16:01] GriffGreen opened #797 "Create a backend solution to allow anyone to pull a list of verified projects"
@mendesfabio needs this for GIVbacks

[2021-04-21 16:47] WhyldWanderer commented on #225
related to https://github.com/Giveth/giveth-2/issues/286

[2021-04-21 17:34] positonic opened #798 "Create project test case"
Ok so some more test cases/flows:

- [ ] Create project
- project details
- upload image / image formatting
- location selection / global impact
- category select
- google maps selection
- check that projects are all listed in "my projects"
- check that projects show up on homepage
- deactivate/reactivate project

- [ ] Edit Project

- Change photo
- Change text fields
- Update donation address
-

[2021-04-21 17:42] positonic opened #799 "Donor test case"
- [ ] Donor

donate in different tokens: ETH, ERC20, Mainnet, xDai
donate with alternate wallets (other than sign in)
check that funds leave wallet
check that funds received/tracked by project
view donations made (correct $ amount, correct currency type)

[2021-04-21 17:43] positonic opened #800 "General test case"
- [ ] General

"Liking" projects
Sharing via Social
All links on homepage
Signup for newsletter
"My wallet"
Report a Bug
Sign in/sign out
Sort/Filter/Search projects
Check projects appear in project page (correct format, correct number)

[2021-04-21 17:43] positonic opened #801 "User testing for each sprint release"

[2021-04-21 17:43] positonic opened #802 "User testing"
This epic is used to formalise user testing for testing each sprint release on staging.

The aim is to make sure that we cover a bare minimum of functionality, and doesn't replace adhoc testing.

Each issue can be commented on and closed once the test is done successfully, and re-opened again for the next sprint...

[This epic is born of this conversation](https://github.com/Giveth/giveth-2/issues

[2021-04-21 23:12] laurenluz commented on #656
discussion from discord:

![image](https://user-images.githubusercontent.com/75490971/115632337-b7732b00-a2c4-11eb-8aef-924cb083621e.png)

[2021-04-22 01:05] WhyldWanderer commented on #656
related to https://github.com/Giveth/giveth-2/issues/589

[2021-04-22 10:27] markoprljic opened #803 "Design UI for uploading project header images"
## 📋 Anything to add?

Allow user to upload from:
Computer
Unsplash (API)

Allow user to position, scale and crop the header image.

https://github.com/Giveth/giveth-2/issues/647

[2021-04-22 13:47] divine-comedian commented on #746
I setup the autopilot journey 'project created' to capture project title, user email and first name and add it to the projects contact list. So far it looks to be working well.

Some updates are waiting to be merged that should fix the email problems, testing locally all the emails send fine, I updated some of the formatting of the emails which was causing them to send blank properties.

[2021-04-22 13:58] divine-comedian commented on #718
still none of my xdai donations are having their price shown and are not updating the total donations on the project. the donation shows up on the project page and my donations page but their is no price $ attached to it.

![image](https://user-images.githubusercontent.com/67759413/115727024-3dd54e80-a351-11eb-9a78-ff0bee2a1843.png)

[2021-04-22 15:56] divine-comedian commented on #727
Testing it out I try to make a project using a smart contract - 0x109b588A4f2a234e302c722f91fe42c5ab828A32

It won't let me make a project with a smart contract address on mainnet

![image](https://user-images.githubusercontent.com/67759413/115743880-1043d180-a360-11eb-9001-b9b6969506bf.png)

Alternatively I tried taking a smart contract address on xDAI and make a project with it as the receipient

[2021-04-22 16:03] divine-comedian commented on #722
as per https://github.com/Giveth/giveth-2/issues/727

looks like we are not allowing smart contract addresses to be used as recipients. This particular issue is no longer relevant since we've made smart contracts entirely non-compatible.

[2021-04-22 16:04] #722 closed

[2021-04-22 16:09] divine-comedian opened #804 "not allowing multiple projects on the same eth address"
## 📋 Anything to add?
I tried making another project using an ETH address I have already used for a previous project.

I'm not allowed and the only error info I'm given is that the 'address not valid'
If we're not going to allow users to make multiple projects with the same recipient address we should make the error message more clear as to why the address is not valid.

![image.png](https://image

[2021-04-22 16:28] divine-comedian commented on #728
Following up with Lauren's issue I can now successfully navigate to youtube from her profile.

![image](https://user-images.githubusercontent.com/67759413/115750249-f73e1f00-a365-11eb-8599-af63fccabc04.png)

Hooray!

I also no longer have any issues trying to update my website on my profile. Looks like we can put this one to bed! (Just one more cat video though..)

[2021-04-22 16:37] divine-comedian opened #805 "clicking on projects from a user's profile goes to 404 page"
## 📋 Anything to add?

I'm on a user's profile page, I click on one of their projects. `Learn more`

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/302809cc-620f-434b-94d6-bedcbc55255a)

It takes me to a blank page, producing a 404 error. :(

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/5b266599-ad29-4b08-912a-9a348a92b44e)
Also from the sa

[2021-04-22 16:40] MerlinEgalite commented on #799
I don't think this is possible as we cannot use a real wallet with Cypress.
Or at least it needs further investigation...

[2021-04-22 16:43] MerlinEgalite commented on #798
Don't see any blocker here

[2021-04-22 16:45] MerlinEgalite commented on #800
Don't see any blocker here.
There will be some limitations though as Cypress cannot interact on another window than the first one that has been opened. That means it's not possible to check if a redirection to social media is well performed for instance.

[2021-04-22 17:39] divine-comedian commented on #441
Okay so I can add videos but they format super small on the screen. Evidently HTML embedding is not allowed either..
I used video URLs from youtube and vimeo just to see if it made a difference.

![image](https://user-images.githubusercontent.com/67759413/115760394-4d639000-a36f-11eb-88df-588172b851e3.png)

It looks like If I try to add an image size past a certain threshold I get an error saying

[2021-04-22 21:56] Danibelle opened #806 "Update Join.giveth.io with Community Resources AND Info"
Per [convo in #communications channel on Discord](https://discordapp.com/channels/679428761438912522/790268394251354143/834869989868961833)
Revise Join page to present more information and resources including those in Docs, Medium and Twitter etc!

![image](https://user-images.githubusercontent.com/39466970/115789858-a71d8780-a37a-11eb-8e6d-44bf8e66cd01.png)

## 📋 Anything to add?

## ⏰ Urgency/De

[2021-04-23 14:45] jamespfarrell opened #807 "Add boolean for Givebacks and Verified to projects in db"

[2021-04-23 18:55] Danibelle commented on #806
Ahh yes thank you I was looking for that,  different board 😄

[2021-04-23 19:55] Danibelle opened #808 "I can't HEART projects anymore!"
tried switching networks, logging out and in.. cleared cache and reloaded browser..
Can't click on hearts!!

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-23 21:22] mateodaza commented on #808
I can't replicate :(

I'd like to see what you are getting

[2021-04-25 18:49] WhyldWanderer commented on #421
From the community call today, it sounds like we will be discussing this topic further in the governance meeting tomorrow Monday the 26th.

To decide on a flow for how we will collect and respond to feedback, suggestions, and issues from the user.

[2021-04-25 19:01] WhyldWanderer commented on #749
It seems infinite scroll implementation has fixed this issue.
I am able to sort correctly on live and staging.

[2021-04-25 22:02] WhyldWanderer commented on #766
another related issue:
https://github.com/Giveth/giveth-planning/issues/17

[2021-04-26 10:19] markoprljic commented on #790
I noticed this has been implemented and the new version looks satisfactory. Closing this issue.

![Image 2021-04-26 at 12 19 15 pm](https://user-images.githubusercontent.com/5704285/116067698-b148ca00-a689-11eb-9f76-094b8a61803f.jpg)

[2021-04-26 10:19] #790 closed

[2021-04-26 10:51] markoprljic commented on #803
Upload image

![Image 2021-04-26 at 12 49 49 pm](https://user-images.githubusercontent.com/5704285/116071236-ece59300-a68d-11eb-8dde-77eb86d62be0.jpg)

Search the web

![Image 2021-04-26 at 12 50 22 pm](https://user-images.githubusercontent.com/5704285/116071289-fd960900-a68d-11eb-8cdc-ea475fb01950.jpg)

Figma https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=5407%3A1930

@jamesp

[2021-04-26 13:28] ThatMattGillespie opened #809 "Project shows up as active on dashboard after deactivation"
https://www.dropbox.com/s/uaw3fhyw5yxatsa/Screen%20Shot%202021-04-26%20at%209.26.33%20AM.png?dl=0

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-26 13:33] ThatMattGillespie opened #810 "Create -> What is your project about? + Draft Process"
## 📋 Anything to add?

Writing a project description out of context (having not seen where it will be used) might be overwhelming for some. Nothing here says I can edited it later, so for all I know I'm filling out my final application for review. Perhaps a single line underneath the title "Aim for 200-500 words. Don't worry, you can edit this later."

Most will likely not be equipped with their d

[2021-04-26 14:31] markoprljic opened #811 "Progress bar on Create New Project flow has a bug"
## 📋 Anything to add?
Both on Staging and Production. I tried refreshing the page a few times but no luck.
The progress bar does not show the correct section I find myself in the Create New Project flow.

![Image 2021-04-26 at 4.28.04 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/81c1ea4e-efcf-451c-9050-8f625cd1c9ae)

![Image 2021-04-26 at 4.27.50 pm.jpg](https://images.zen

[2021-04-26 14:56] markoprljic commented on #803
When user uploads image from the computer we want to allow them to crop, scale, position the image. Related issue #647
I created a mockup to see how it will fit the flow and show the general design direction (does not have to strictly follow it).

![Image 2021-04-26 at 4 52 50 pm](https://user-images.githubusercontent.com/5704285/116103843-3fd04200-a6b0-11eb-87b1-9934cba2bf0f.jpg)

[2021-04-26 14:57] markoprljic commented on #647
When user uploads image from the computer we want to allow them to crop, scale, position the image.
I created a mockup to see how it will fit the flow and show the general design direction (does not have to strictly follow it).

![Image 2021-04-26 at 4 52 50 pm](https://user-images.githubusercontent.com/5704285/116104039-6bebc300-a6b0-11eb-82d3-13e8b6e004dd.jpg)

[2021-04-26 15:06] divine-comedian commented on #746
Ready for testing! Try out sending donations on staging, the donor should receive a 'donation made' email and the project owner should get a 'donation received' email, find a buddy or try it out with two separate accounts with different emails.

Also please try making donations anonymously

[2021-04-26 15:33] ThatMattGillespie opened #812 "Project URLs do not change to new project names after creation"
## 📋 Anything to add?

Can't run with this one 😆 - https://giveth.io/project/test-project-for-gaia-gives

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-04-26 16:59] laurenluz commented on #647
@markoprljic that looks really good. Just wondering though... should we have two cropping options? because we have the wide/short image for the project banner on the project's own page... and then the less wide image for the project on the "projects" page.

Maybe we can have like a crop within a crop? like two concentric rectangles that are labelled indicating where they will be?

![image](https:/

[2021-04-26 17:04] positonic commented on #763
This is done on making donations:
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/c854fa56-ad9e-4e8e-aa24-b9903cc18085)

[2021-04-26 17:10] WhyldWanderer opened #813 "The pictures are not loading on the projects page"
It seems that the pictures are not loading on our main projects page on live...
It doesnt matter how long I wait.

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/e006d53c-a0f4-4967-9083-07022b3067b5)

[2021-04-26 17:21] laurenluz opened #814 "Update / Improve Create a Project Flow for increased useability"
Related to https://github.com/Giveth/giveth-planning/issues/160 and #810

Make improvements to UI/UX to allow the user to more easily/more intuitively/ more effectively create a project

Mockup from @markoprljic: https://www.figma.com/proto/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?page-id=4802%3A1792&node-id=5417%3A167&viewport=-4101%2C1783%2C0.6179280281066895&scaling=min-zoom

[2021-04-26 17:25] WhyldWanderer commented on #814
It would be cool to have more questions about the project so that the final project description is a bit more robust.

what is your project about?
What is the problem that your solving?
How are you working to solve this problem?
What will the funds be used for?

Something along those lines... these are just a few ideas to get the wheels turning..

[2021-04-26 17:29] laurenluz commented on #814
Thanks Ashley. I agree we should guide the Maker to make things more robust. Perhaps we should make a few different text boxes with different questions above them? Or that might be over complicating things...?

Had some great feedback from Matt from Gaia Gives, suggesting that we at least add a one-liner under "Tell us about your project" that says "Aim for 200-500 words. Don't worry, you can edit

[2021-04-27 13:17] markoprljic opened #816 "Dashboard for Giveth.io Statistics"
## 📋 Anything to add?
Do we have an easy way to see/monitor product activity stats?
Number of projects, donations, updates, total value donated etc.

How hard/easy is it to pull all this from db? Pulling the data out is easy.... Most of the work would be in creating the visual appearance.

It would be great to have a dashboard for both io and trace, let's focus on Giveth.io for now.

Would it be e

[2021-04-27 13:23] markoprljic opened #817 "It takes a lot of time to load the project owner name on the Project single page"
## 📋 Anything to add?

It takes about 10s or more to load the project owner/creator username.
![Image 2021-04-27 at 3.21.25 pm.jpg](https://images.zenhubusercontent.com/5cc090818b624e26c3734d75/a00874a1-40ef-4f22-a5b0-aa7949b56777)

[2021-04-27 13:58] WhyldWanderer commented on #816
related issue https://github.com/Giveth/giveth-planning/issues/167

[2021-04-27 14:06] divine-comedian commented on #676
PR pending https://github.com/Giveth/impact-graph/pull/56

[2021-04-27 15:28] markoprljic commented on #647
I don't think we should be adding any advanced image editing options other than just cropping the main project banner. The project card image should automatically be cropped.

[2021-04-27 15:32] markoprljic commented on #814
On thing we should be careful about is not to overwhelm user with much information required. Earlier I was thinking about including Advanced project options in case someone wants to add those, but we also have to define what those advanced options are and how will that reflect in the UI.

I added the suggested line from Matt to the Figma mockup.

[2021-04-27 17:51] Danibelle opened #818 "New Project Creation: Raise Character Limitation"
2000 character limit encountered; can we increase to 2500 or 3000 from 2000?
https://giveth.io/project/earth-activation-indigenous-message-for-our-humanity
![image](https://user-images.githubusercontent.com/39466970/116288377-5032fc00-a746-11eb-8ed4-db80f59497b8.png)

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

[2021-04-27 17:52] Danibelle commented on #808
Yeah I'm still getting it!
Jump into Discord video to share screen soon?

[2021-04-27 18:05] Danibelle opened #819 "New Project Creation: Editing Project Title not working"
When I search the new title, it comes up in the card:
![image](https://user-images.githubusercontent.com/39466970/116290367-3c889500-a748-11eb-9b9e-616df1f4483f.png)

But when I click Learn More, the old info presents:
![image](https://user-images.githubusercontent.com/39466970/116290526-65a92580-a748-11eb-9685-15efcaf7d271.png)

## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is

[2021-04-27 19:56] WhyldWanderer commented on #814
related issue: https://github.com/Giveth/giveth-2/issues/818

[2021-04-28 11:17] positonic commented on #718
This was a bug, now fixed

[2021-04-28 15:46] positonic opened #821 "Torus Open login upgrade?"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/b043b727-ce71-496b-83b6-a8ead6308faa)

Hitting this in the LoginResolver in the impact-graph
[code]

[2021-04-28 15:52] #496 closed

[2021-04-28 15:53] markoprljic commented on #647
Design here https://github.com/Giveth/giveth-2/issues/803

[2021-04-28 15:53] markoprljic commented on #764
Design here https://github.com/Giveth/giveth-2/issues/803

[2021-04-28 15:54] #803 closed, assigned to markoprljic

[2021-04-28 18:39] divine-comedian commented on #718
I just tried making another xdai donation with a clean cache on a new project with no donations yet. I still don't have my xdai donations show up under **total funds raised**.
@jamespfarrell
![image](https://user-images.githubusercontent.com/67759413/116455679-5bae2200-a82f-11eb-9db2-906421c74ef7.png)

[2021-04-28 18:56] laurenluz commented on #808
I can't hear projects anymore either! on live

[2021-04-28 19:00] mateodaza commented on #808
Oh I see it now! it's authentication issue - I logged out and in again

@jamespfarrell you know where to check to invalidate the token when is not working anymore?

[2021-04-28 19:01] mateodaza commented on #808
@laurenluz I wanna hear too what they have to say :(

😆

[2021-04-28 19:20] laurenluz commented on #808
https://www.youtube.com/watch?v=p85xwZ_OLX0

[2021-04-28 23:00] GriffGreen opened #822 "Should we add a badge for "Registered Non-Profit" with a little flag for where they are registered?"
## 📋 Anything to add?

In the verification parties... people are submitting proof that they are a registered non-profit

This proof is country specific... so if we show that they are a registered non-profit, we also have to show what country they are registered in.

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - insp

[2021-04-29 17:37] positonic commented on #747
@aminlatifi - we are no longer dependent on feathers for this. Thanks!

[2021-04-29 17:37] #747 closed

[2021-04-29 17:38] positonic commented on #650
Mitch, I assigned you to this, since you mentioned wanting to review it

[2021-04-29 19:20] positonic commented on #797
@mendesfabio This is deployed on the develop branch:

[code]

[2021-05-02 17:00] positonic opened #823 "Add a link to the Etherscan transaction"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/104b8740-27b1-434d-adae-9a211285b797)

[2021-05-02 17:14] positonic commented on #823
@markoprljic not sure if you have redesigns done for these pages and / or if it includes this?

[2021-05-03 13:52] markoprljic commented on #823
@jamespfarrell I mocked it up in My Account under My Donations, you can grab it there.

![Image 2021-05-03 at 3 51 04 pm](https://user-images.githubusercontent.com/5704285/116884806-7580a800-ac27-11eb-80ce-4f1d98762f69.jpg)

Figma source https://www.figma.com/file/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?node-id=2673%3A0

[2021-05-03 14:44] markoprljic commented on #814
Suggestion from @jamespfarrell to include the quality score inside the create project flow.
Here's a quick mockup.

![Image 2021-05-03 at 4 43 07 pm](https://user-images.githubusercontent.com/5704285/116891249-c647cf00-ac2e-11eb-8a1c-2aefd8978f01.jpg)

[2021-05-03 14:50] markoprljic commented on #286
Suggestion from @WhyldWanderer to include Trust Level similar to Gitcoin.

![Image 2021-05-03 at 4 49 49 pm](https://user-images.githubusercontent.com/5704285/116891995-a2d15400-ac2f-11eb-9e39-b91a1ac3a654.jpg)

![Image 2021-05-03 at 4 50 06 pm](https://user-images.githubusercontent.com/5704285/116892016-a8c73500-ac2f-11eb-83e4-19aacf3b0321.jpg)

[2021-05-03 15:23] WhyldWanderer commented on #286
Thanks @markoprljic..

I was initially envisioning this more for visualizing project score during creation.
There are different things that you can add to increase your project score and maybe we can use a similar way of showing the weights of different project aspects.
You can boost your project score by percentages depending on what pices you have completed.
Maybe the description is worth 25% if

[2021-05-03 17:47] thedai1991 opened #824 "Thedai1991"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-03 17:47] thedai1991 commented on #824
Give

[2021-05-03 18:29] laurenluz commented on #798
I updated James's comment and added a couple of additional pieces to test Merlin, not sure if this affects the automated testing

[2021-05-03 18:44] laurenluz commented on #650
@divine-comedian I summarized our testing guideline issues into hackMD so we can update what we have on the giveth docs: https://hackmd.io/17WUHH9MQYufyP4cLQ81Gg?both

Basically, we discussed, then I made that notion doc and James improved upon it all by splitting it up into GitHub issues #798 #799 #800 that can be assigned tested, closed and then reopened with each corresponding each sprint.

Mer

[2021-05-03 20:16] laurenluz commented on #656
@markoprljic I made some suggestions for banner text to try out :) let me know what you think!

https://docs.google.com/document/d/1ox8Iuc_UzAlOXaMNW9npnvHydciwUMVpA4IqmPOFNig/edit?usp=sharing

[2021-05-03 20:32] markoprljic commented on #656
Awesome I'll use this in mockups. Thanks Lauren.

[2021-05-03 21:22] laurenluz commented on #814
Nice this is awesome Marko!!

Just want to add to this issue info from out discussion in governance today:
- add more info to the docs on how to create a great project description
- make use of rich text formatting
- integrate 3box verification to ensure higher quality projects
- make quality score visible to project owners (see Marko's mockup above)

[2021-05-03 22:57] laurenluz commented on #752
@MerlinEgalite can you update the text in the FAQ under "Is Giveth recognized as an official charity?"

Should say:
"Giveth is a Decentralized Altruistic Community and with the help of SDG impact fund our DAO and community based organizational structure is represented as a non-profit 501c3 in the United States. We are a community-led project and will not derive any direct profit from the platform.

[2021-05-04 09:24] #824 closed, assigned to nobody

[2021-05-04 11:31] markoprljic opened #825 "Remove character limit on Project descriptions"
## 📋 Anything to add?
Few people reported that the character limit was a constraint and they abandoned the site after failed to create a project.
Please remove the char limit on the Project description field.

[2021-05-04 11:31] markoprljic commented on #825
Assigned you @jamespfarrell but if you think @mateodaza or @MerlinEgalite can/should do it please re-asign. Thanks.

[2021-05-04 11:34] #821 closed, assigned to positonic

[2021-05-04 11:34] positonic commented on #718
This should be resolved

[2021-05-04 11:34] #718 closed

[2021-05-04 11:38] positonic commented on #730
I am making the change such that we don't update the slug when the title is editted. I am creating the capacity for the front end to call with a new slug specifically, and this will be added later, as Mateo's secret project could render any other fixes on this right now redundant.

[2021-05-04 16:15] divine-comedian commented on #650
Document is live on https://docs.giveth.io/docs/testing-guidelines/

[2021-05-04 16:22] MerlinEgalite commented on #752
Done! ✅

[2021-05-04 16:38] #734 closed

[2021-05-04 17:01] #685 closed

[2021-05-04 17:01] #687 closed

[2021-05-04 17:35] laurenluz commented on #752
That's great @MerlinEgalite thanks. I just checked now to see if it was changed on staging and live and it's still the old copy, so I'm assuming we gave to wait

Anyway, I think that's all for this one. I'm working on updating the Join page in #806 so I will just move this issue to staging, and when the fix is pushed we can make sure that it gets reviewed before closing

[2021-05-04 17:37] laurenluz commented on #650
Cool... should we have someone review this? Or can we close the issue? @jamespfarrell

[2021-05-04 17:58] jamespfarrell commented on #635
The decision on how to implement this will depend on exploration done while developing the front end. Since we don't have mockups for this it makes sense to look at a later time!

[2021-05-04 18:39] laurenluz commented on #806
I made a google doc with my suggestions on how to revamp the page... @Danibelle can you review?

Suggesting to:
-change opening paragraph text
-add/remove/reword/reorder "join" cards to they are accurate and relevant
-remove/add/reorder footer links for improved flow and relevance
-replace wiki widget link w docs widget link

https://docs.google.com/document/d/1j6rISDA1jHwhXdNulUZV7P1gXQbin50fDSed

[2021-05-04 19:20] laurenluz opened #827 "External links on giveth.io (Galaxy, Social Coding, Governance) are out-of-date"
I've been working on a revamp of the join our community page in https://github.com/Giveth/giveth-2/issues/806 and realized that we have external links to giveth galaxy and social coding and "governance" and they're all out of date with links to riot/element/slack.

@Danibelle mentioned that these are probably here for posterity which makes sense... but we need to make them relevant so we're not co

[2021-05-04 19:28] laurenluz commented on #825
related to #818

[2021-05-04 19:28] geleeroyale commented on #827
Yes - I can take that on next sprint!

The only point I am disagreeing with is to link to Google docs.

We have an awesome comms team now - we should do the work and get the wiki in order.

A lot of the info present in the wiki is outdated, but it is a great resource to copy what we do in our community.

[2021-05-04 19:47] positonic commented on #775
This is resolved, on dev and will go to staging soon.

[2021-05-04 19:47] positonic commented on #775
https://github.com/Giveth/impact-graph/pull/62

[2021-05-04 19:48] jamespfarrell commented on #794
@markoprljic I believe you had an idea for this right?

[2021-05-04 19:49] laurenluz commented on #827
sorry! I keep making that typo. I meant "giveth docs" (edited above). Spoke with @Danibelle about this and we talked about moving away from the wiki and towards the giveth docs... this makes sense to me... I would really like to have only one text-based resource hub for our users. right now there's a lot of overlap and also a lot of disagreement between the two, and it's double work to try to just

[2021-05-04 19:54] positonic commented on #741
Can't reproduce.. I will keep my eyes open for it re-appearing

[2021-05-04 19:54] #741 closed

[2021-05-05 09:43] jamespfarrell opened #829 "Categories not displaying"
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/36b27657-61d0-4fe7-b4d1-624ebbc1e51e)

[2021-05-05 10:17] geleeroyale commented on #758
Hello @GloMoss - thank you for your feedback!

1 - We are currently working on integrating a "rich text editor" very similar to this one here in GitHub that will enable to attach pictures and videos to a campaign.
2 - The plan is to have more than one way to get support/give feedback. Some of them are not implemented yet (direct chat for example) and we are also reworking the way these are present

[2021-05-05 10:29] geleeroyale commented on #719
Expanding on this, probably should make an epic for updating the updates 😜

1 - Updates are buggy - I always get the same dates (the current date when I am watching!) on all campaigns and their individual updates. Without dates they are unfortunately useless because you can't see the frequency of updates.
2 - People don't use them, maybe we can expand on this feature a bit. I.e. show the latest up

[2021-05-05 10:35] geleeroyale commented on #788
The service is getting more stable now (had regular outages a few weeks back due to *some bug*)

I would not put it on the front page, but I think it is time we got a support page where this one is integrated.

If we get a design for this @markoprljic I can put it in.

[2021-05-05 10:44] markoprljic commented on #719
I've been thinking about all this yesterday and planning to update it in front-end.

Open to hear more suggestions from others.

[2021-05-05 10:56] geleeroyale commented on #813
I strongly suggest this was due to insufficient network bandwidth.

[2021-05-05 15:11] markoprljic opened #830 "Design for new Support page"
## 📋 Anything to add?

Put individual support methods like the contact form and make github issue button in their respective places where they make sense, but also make a new support page where we group all of them together with the typeform flow as suggested above - in that way people can see at a glance what options are available.

Reasons people would provide feedback or need to contact us:

Pr

[2021-05-05 15:12] markoprljic commented on #794
Working on it as part of other UI updates.

[2021-05-05 15:14] markoprljic commented on #788
https://github.com/Giveth/giveth-2/issues/830

[2021-05-05 15:16] GriffGreen commented on #822
I would say no... ;-)

[2021-05-05 15:16] #822 closed, assigned to nobody

[2021-05-05 15:21] markoprljic opened #831 "Improve how we display the information about Project updates"
## 📋 Anything to add?
1 - Updates are buggy - I always get the same dates (the current date when I am watching!) on all campaigns and their individual updates. Without dates they are unfortunately useless because you can't see the frequency of updates.
2 - People don't use them, maybe we can expand on this feature a bit. I.e. show the latest update together with the project description? To inventi

[2021-05-05 15:22] markoprljic commented on #719
Created new issue for this. https://github.com/Giveth/giveth-2/issues/831

[2021-05-05 15:22] #719 closed

[2021-05-05 15:31] MerlinEgalite opened #832 "Fix Safari issue due to Testing"
![unknown.png](https://images.zenhubusercontent.com/5fdb9e1e84ca2e9f04757a4a/d0f80b1a-120d-43eb-9310-85e6d40a362a)

[2021-05-05 15:32] markoprljic commented on #780
Keep the label to display NEW projects, remove it after a project is 1 week old.

[2021-05-05 15:32] #780 closed

[2021-05-05 15:34] divine-comedian commented on #831
I'll investigate how we can notify users when a project adds an update.

[2021-05-05 15:39] markoprljic commented on #831
From UX side I was considering adding a checkbox in the compose update area "Notify your donors about this update. 12 Donors will be notified" And also allow to make this option turned on permanently.

Then also include Settings page in User Account to turn on/off such notifications.

[2021-05-05 17:34] laurenluz commented on #806
Notes from chat w @Danibelle:
- Add governance info to "What is Giveth?" doc
- harvest good stuff out of wiki into docs, rename docs to wiki
- add (somewhere?) a write up about discord - where the channels are an what's they're used for

[2021-05-05 17:40] positonic opened #833 "Manual cherry picking from previous sprint to NextJs"
### Merged since the Next Js branch

- https://github.com/Giveth/giveth-2/pull/828

[2021-05-05 17:42] laurenluz commented on #806
@geleeroyale assigning you as per the dev call today. Dani is going to go through my suggestions in the doc today and make some edits, then it would be great if you could implement changes this sprint. will ping you when it's final and we can quickly walk through together

[2021-05-05 17:50] laurenluz commented on #827
Hey @geleeroyale can you just simply update the "join our chat" on the galaxy page to redirect to discord (instead of riot).

Made a bunch of suggestions to the join page and the giveth.io footer links in #806 that should make for a good quick fix for this issue.

Then with more time we can discuss content edits on galaxy

[2021-05-05 18:12] laurenluz opened #835 "Create What's Dappened Medium Post #3"
Part of our series of dev update transparency posts for giveth.io

[2021-05-05 18:20] laurenluz commented on #835
@jamespfarrell can you pull some of these metrics like the ones in https://github.com/Giveth/giveth-planning/issues/167  from the database for me so I can add them to the update post?

number of donations
value of donations
average donation amount

...for mainnet and xdai

[2021-05-05 18:34] divine-comedian commented on #783
bump!

I tried to post an update today on staging and received a similar error the one above.
Using Brave Browser on a clean cache.

![image](https://user-images.githubusercontent.com/67759413/117191820-003fdf00-adaf-11eb-9233-f09251bb013b.png)

[2021-05-05 19:26] laurenluz commented on #746
"anonymous" meaning "not logged-in".. I just donated as a not logged in user on staging and didn't receive an email... but also, how would it even know where to email me?

[2021-05-05 19:37] laurenluz commented on #746
successfully received "donation made" email as a logged in donor.. "giver" should be capitalized though
![image](https://user-images.githubusercontent.com/75490971/117198935-d97daa80-ada6-11eb-91cb-e60d0a677498.png)

successfully received "donation received" email when I donated as a not-logged in donor to my own project... maybe the clickable link should say "view project" though... since it redi

[2021-05-05 19:42] #749 closed

[2021-05-05 19:43] #793 closed

[2021-05-05 20:01] laurenluz commented on #655
So this appears to be the same... email and twitter are still linking to the torus window. Are we planning to change this? @markoprljic

[2021-05-05 20:02] #728 closed

[2021-05-05 20:13] laurenluz commented on #688
this is much improved, but "Newsletter" is still captialized... also the "thank you for" is right-justified... not sure if that was intentional. I think right or center justification is better!

![image](https://user-images.githubusercontent.com/75490971/117203191-f8cb0680-adab-11eb-9032-765e7b9a9ab4.png)

[2021-05-05 20:32] divine-comedian commented on #746
oh, yes to clarify there is two events, 'donation made' that sends an email to the donor and 'donation received' which sends an email to the project owner.

When you make an anonymous donation we won't send you, the donor, an email because you're anonymous but the project owner will still receive an email for the donation they received. hopefully that clarifies.

[2021-05-05 20:35] divine-comedian commented on #831
okay I will hold off doing anything complicated on my side then

[2021-05-05 21:50] WhyldWanderer commented on #830
ive been playing with the github and discord integrations on the typeform. And I have been able to successfully trigger github issues with correct labelling and discord messages in one of my play servers

I think it will be great to have all of this in one place..

The thing that Im learning is that the trigger happens when the form is submitted therefore it is impossible (as far as i know) to hav

[2021-05-06 03:39] Danibelle commented on #806
Made my suggestions in the doc - @laurenluz please accept as you like!

[2021-05-06 12:38] laurenluz commented on #806
Loved the changes Dani! Thanks to much! @geleeroyale can you help to implement these?

[2021-05-06 14:25] markoprljic commented on #655
Yes because it was a technical issue of linking those directly.
I don't think it is redundant and bad to have these options visible and user having to click again. The purpose of this is to put those option in front of them to make them aware they exist.

[2021-05-06 21:18] laurenluz opened #836 "Can't add project "null value in column 'verified' violates non-null constraint""
@jamespfarrell maybe this has something to do with the boolean you added for verified projects?

testing on staging, can't add project

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/4fdae916-fef9-48b6-86ad-c4274017f649)

[2021-05-06 23:10] divine-comedian commented on #827
I'm up for whatever, let's see what comes of the meeting this friday! I'd love for the chance to play with the docs more.

[2021-05-07 10:49] #795 closed, assigned to MerlinEgalite

[2021-05-07 14:30] divine-comedian commented on #756
looks to be working - clicking the show transaction link from `my donations` will take me correctly to etherscan or blockscout depending if it was made on mainnet or xdai.
![image](https://user-images.githubusercontent.com/67759413/117464805-048b0a00-af1f-11eb-82b6-0def14737309.png)

![image](https://user-images.githubusercontent.com/67759413/117464916-1ff61500-af1f-11eb-9dd7-5b7554c85f9d.png)

ni

[2021-05-07 14:44] divine-comedian commented on #751
testing signed-out on xdai network

correctly shows gas fee in xdai native token instead of ETH.

![image](https://user-images.githubusercontent.com/67759413/117466798-19689d00-af21-11eb-827e-2759270cf42f.png)

however my HNY looks a bit undervalued! but that's another issue. beau travail!

[2021-05-07 14:53] divine-comedian commented on #791
on xdai I'm logged in with metamask and still not seeing any option to use another wallet.

![image](https://user-images.githubusercontent.com/67759413/117468009-44072580-af22-11eb-9194-401bf4a8d6ca.png)
@MerlinEgalite
are there any updates for this issue that testers should know about?

[2021-05-07 15:04] divine-comedian commented on #642
any updates here? testing on staging, not signed in yet with MM.
I still see the spinning wheel, there is no popup as proposed prompting me to check my metamask.

![image](https://user-images.githubusercontent.com/67759413/117469581-e5db4200-af23-11eb-9e80-fbd33c5ab439.png)

@MerlinEgalite

[2021-05-07 15:07] divine-comedian commented on #778
Spelling is fixed. Looks to be resolved.
On staging with clean cache and cookies.
![image](https://user-images.githubusercontent.com/67759413/117469982-4c606000-af24-11eb-8f79-83ef1d607d06.png)

[2021-05-07 15:21] divine-comedian opened #838 "donations sort function broken on my donations page"
## 📋 Anything to add?
I'm signed in on metamask with brave on a clean cache and cookies

currently looking at `MY DONATIONS`  there's the sort button that let's you switch between crypto and fiat.. currently if I pick Fiat it shows all my crypto donations. If I pick 'Crypto' it shows no donations at all... Is it opposite day?

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858d

[2021-05-07 15:21] divine-comedian opened #839 "donations sort function broken on my donations page"
## 📋 Anything to add?
I'm signed in on metamask with brave on a clean cache and cookies

currently looking at `MY DONATIONS`  there's the sort button that let's you switch between crypto and fiat.. currently if I pick Fiat it shows all my crypto donations. If I pick 'Crypto' it shows no donations at all... Is it opposite day?

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858d

[2021-05-07 15:28] divine-comedian commented on #777
I'm signed in on staging with Brave; clean cache and cookies.
Looks like my donations are finally sorting by chronological order, descending from the most recent. Works as intended.

![image](https://user-images.githubusercontent.com/67759413/117472191-a06c4400-af26-11eb-8425-d8321c40c9aa.png)

Referencing Lauren's other issue I do mysteriously have a 4th page of actual donations but it only shows

[2021-05-07 15:33] divine-comedian commented on #655
Are there any planned UI updates that testers should know relating to this issue?
Current pop-up looks like -
![image](https://user-images.githubusercontent.com/67759413/117473333-d6f68e80-af27-11eb-82b2-e8a2fd32e394.png)

Clicking on email or twitter produces:
![image](https://user-images.githubusercontent.com/67759413/117473438-f8f01100-af27-11eb-8a74-72ee83881251.png)

@markoprljic @mateodaza

[2021-05-07 15:46] divine-comedian commented on #676
impact-graph is now updated and returning some useful properties for the updated profile track event in segment.

![image](https://user-images.githubusercontent.com/67759413/117475225-c810db80-af29-11eb-9af8-c3e7dd3d92d7.png)

---

![image](https://user-images.githubusercontent.com/67759413/117475123-b16a8480-af29-11eb-812e-b3e482c0d5ca.png)

[2021-05-07 15:55] MerlinEgalite commented on #642
Perhaps it's not on staging.. @mateodaza did you merge it from develop to staging?

[2021-05-07 15:58] MerlinEgalite commented on #839
weird I'll check that!

[2021-05-07 16:00] MerlinEgalite commented on #751
I'll double checked for the HNY. It might be the oracle we use too..

[2021-05-07 18:04] divine-comedian opened #841 "squished text border/margin on 'my account' pages."
## 📋 Anything to add?
I noticed that the text in the top right corner gets squished against the `|` divider only when im in `my account`, `my projects`, or `my donations` pages.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/08a2db8f-d663-4d56-820a-36e01b17d50e)
--------------

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/efc3ba69-d72d-4a5

[2021-05-07 19:51] GriffGreen opened #842 "Really confusing to see the ETH logo next to the PAN on the donate page"
![Screen Shot 2021-05-07 at 12 49 39 PM](https://user-images.githubusercontent.com/14945613/117501451-5b73fc00-af7e-11eb-9f14-91af817ee320.png)

[2021-05-07 19:53] GriffGreen opened #843 "Pan price is WRONG!!!"
![Screen Shot 2021-05-07 at 12 52 10 PM](https://user-images.githubusercontent.com/14945613/117501598-8e1df480-af7e-11eb-8098-6bd992b5024a.png)

[2021-05-07 19:53] GriffGreen commented on #843
#770

[2021-05-07 19:55] GriffGreen commented on #670
THE default option should be xDai... but Pan and HNY should be in the drop down

[2021-05-07 20:44] laurenluz commented on #835
@divine-comedian @WhyldWanderer @ForestSoleil @Danibelle - can one of your fine people please do QA. Assign yourself and comment if you're taking it on ;)

https://docs.google.com/document/d/1KbjJN0JX9AeCxKcDRaXRmxRkQnUuz5A61LqDmPSc1so/edit?usp=sharing

thanks @mateodaza for your technical 👀

[2021-05-07 21:13] laurenluz commented on #391
ok so I just made edits, and it "Saved!" but when I go to view my project, the old description is still there :( edits not sticking

![image](https://user-images.githubusercontent.com/75490971/117509062-ce618080-af46-11eb-8901-7e998cd4277a.png)

[2021-05-07 21:16] laurenluz opened #844 "All my projects are gone ?"
Testing on staging in brave

I had 3 projects, signed in on staging... I edited one, the edit didn't stick, then I went to view my projects and all projects appear to be gone now

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/24bb8c46-c515-401a-a19a-0d038a84fd6f)

[2021-05-07 21:18] mateodaza commented on #844
https://serve.giveth.io/graphql is down

[2021-05-08 09:24] RonMath opened #845 "Project duplicate creates isseus and blocks editing"
## 📋 Anything to add?
Unfortunately I managed to add a project two times,
https://giveth.io/project/positiveblockchain.io/
That creates issues obviously, even that one project was deactivated.

To avoid, it shouldn't  be possible to add an identical project twice

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspir

[2021-05-09 19:53] laurenluz commented on #655
This is how it is intended to work. Look at Marko's reply to me above

[2021-05-09 19:55] laurenluz commented on #655
@markoprljic - can we close this issue?

[2021-05-09 22:38] laurenluz commented on #836
Still happening...

![image](https://user-images.githubusercontent.com/75490971/117589135-fbe43080-b0e4-11eb-83a4-d7c122686236.png)

[2021-05-09 22:49] WhyldWanderer commented on #835
Looks great Lauren! I made few adjustments in the document.

[2021-05-10 10:49] markoprljic commented on #655
I give you that pleasure :)

[2021-05-10 12:01] #655 closed

[2021-05-10 14:29] #835 closed, assigned to WhyldWanderer, laurenluz

[2021-05-10 14:29] laurenluz commented on #835
https://medium.com/giveth/what-dappened-april-21-may-5-f918958e403e

[2021-05-10 15:00] laurenluz opened #846 "Project "description too large" deletes all my info :( :( :( also it wasn't THAT large"
Testing on staging... I made a project with 1 photo (5.8 MB), 1 embedded video and just a very short amount of test (played with some formatting).

I clicked "next" and got the popup "description too large" (was it really too large?) and all my edits were completely deleted.

1. what is the limit on size for project descriptions? this should be made know to the user somewhere.
2. Content shouldn't

[2021-05-10 15:08] MerlinEgalite commented on #838
This is a duplicate of #839

[2021-05-10 15:08] #838 closed, assigned to mateodaza, MerlinEgalite

[2021-05-10 15:37] MerlinEgalite commented on #670
Will change that!

[2021-05-10 17:03] WhyldWanderer commented on #816
Link to the current dashboard...
https://giveth-dashboard.herokuapp.com/public/dashboard/5218ea60-42ef-416b-80f0-4b58fc78ef49

[2021-05-11 03:24] GriffGreen opened #847 "Can't Donate!!!"
<img width="1029" alt="Screen Shot 2021-05-10 at 8 21 38 PM" src="https://user-images.githubusercontent.com/14945613/117753488-d6584380-b218-11eb-9aa4-ea93af917ae9.png">

Even after refresh...

<img width="971" alt="Screen Shot 2021-05-10 at 8 23 42 PM" src="https://user-images.githubusercontent.com/14945613/117753628-1a4b4880-b219-11eb-8240-33a7db3996df.png">
<img width="1062" alt="Screen Shot 20

[2021-05-11 03:29] GriffGreen commented on #847
Ok found the problem... xdai's RPC was down

[2021-05-11 03:30] GriffGreen opened #848 "So if this project is canceled? why was it so high on the list that i clicked it?"
<img width="1201" alt="Screen Shot 2021-05-10 at 8 29 05 PM" src="https://user-images.githubusercontent.com/14945613/117754069-e886b180-b219-11eb-80b2-311e01340b01.png">

[2021-05-11 03:30] GriffGreen commented on #848
https://giveth.io/project/lifteth-self-sustaining-poverty-alleviation

[2021-05-11 03:31] GriffGreen commented on #848
This one too

https://giveth.io/project/start-online-business-from-lebanon

<img width="1216" alt="Screen Shot 2021-05-10 at 8 31 07 PM" src="https://user-images.githubusercontent.com/14945613/117754171-1c61d700-b21a-11eb-87d5-042eddafd334.png">

[2021-05-11 08:44] Mettodo commented on #819
Hi! I had a similar problem not with the project title but with the description. I updated it, and I can see the updates I made when I am in the project editing page, but those edits do not appear on the public project description.
e.g. I edited the number of inhabitants:
![image](https://user-images.githubusercontent.com/24914615/117786138-e2122d00-b24d-11eb-8e54-bdd19745d3ea.png)
But it is not u

[2021-05-11 21:20] MerlinEgalite commented on #825
@mateodaza did the change it's on the giveth-next but it seems it's not on staging yet

[2021-05-11 21:21] mateodaza commented on #825
That's right, coming along with the rich text fix

[2021-05-11 21:58] mateodaza commented on #709
I was having this issue in mind, why don't we try a very subtle label on the bottom corner of the site that's not annoying but always accessible? It doesn't have to be the BIG modal we have right now

@markoprljic what do you think?

[2021-05-12 07:15] markoprljic commented on #709
I'd go with what was proposed in this issue, because user will have the new support page and from there they can send feedback anyway.

[2021-05-12 14:32] positonic opened #849 "2 projects, same slug no worky"
FETCH_PROJECT_BY_SLUG

![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/4e696bc3-ab3a-4f3b-8d4d-e4105da4239b)

[2021-05-12 14:34] positonic opened #850 "New endpoint for uploading images"
To remove images from the text description

[2021-05-12 14:54] positonic commented on #849
Symption:

![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/58766af5-b09b-4708-8908-9b010854dcd8)

[2021-05-12 15:00] positonic commented on #844
Likely an issue with graphql being down, closing and keeping an eye out...\
![image.png](https://images.zenhubusercontent.com/5807a7a095e42b6c5baabbd3/807a881c-fe3a-40d0-bc44-ac76113e2aed)

[2021-05-12 15:00] #844 closed, assigned to positonic

[2021-05-12 16:20] #841 closed, assigned to MerlinEgalite

[2021-05-12 18:32] laurenluz opened #851 "Notify project owners when their project gets cancelled"
Related to #604

Right now we are curating projects as a team by communicating internally when we notice a project that looks scammy/sketchy and then @geleeroyale is manually cancelling them if we determine it is appropriate.

We should notify project owner when their projects get cancelled, giving them an opportunity to potentially remedy the issue

[2021-05-13 12:55] #650 closed

[2021-05-13 15:13] divine-comedian opened #852 "successful donation page links to wrong block explorer"
## 📋 Anything to add?

I just successfully made a donation in xdai to a project, I'm on final page showing my successful donation and the link to view my transaction for the donation takes me to etherscan.io. My donation was in xdai so it should link me to my transaction on blockscout.

Discovered it on LIVE and tested it on staging
brave browser
![image](https://user-images.githubusercontent.com/

[2021-05-13 18:05] WhyldWanderer opened #853 "Autopilot is not filling in project name correctly"
When i received the email notifying me about my donation, the project title is not autofilling correctly.

![image](https://user-images.githubusercontent.com/74267818/118167021-7235ab00-b3e3-11eb-8ded-555009a20d5c.png)

This is on live.

[2021-05-14 08:49] MerlinEgalite commented on #852
I guess this is because the changes I made where on the giveth-2 repo and not forked on giveth-next so I'll need to redo the changes... 😅

[2021-05-14 11:14] mateodaza commented on #852
Oh no I'm sorry @MerlinEgalite maybe I missed that one while cherry picking 😬

I can check it out if you haven't, I also see there's a flex issue on the links

[2021-05-14 13:43] divine-comedian opened #854 "user projects not showing up on their profile page"
Testing on next.giveth clean cache and cookies.

I click on the author of a project and it takes me to their profile page and it says they don't have any projects.. which is impossible because I got to their profile via the link on their project..

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/994f55e1-882f-4554-b3e4-cfae649596a0)

---
![image.png](https://images.zenhu

[2021-05-14 13:56] divine-comedian opened #855 "'Learn more' button on my projects in my profile doesn't work."
On my profile page I am viewing my accounts and the button `learn more` does nothing... If i press `Edit` however it does take me into the project edit page correctly..

Also if we could change the text here to be more general like 'View Project' because in this context to 'learn more' about my own project doesn't make sense.
on next.giveth with clean cache and cookies, signed in with MM

![image.

[2021-05-14 14:20] divine-comedian opened #856 "create project final confirmation page buttons look squished and text is mis-aligned"
Maybe this will change with the updated project creation flow but the start raising funds button is squished right against the bottom of the window, it should have a bit of a margin on it so it doesn't sit right on the bottom of the page.

Also the text inside the small bullets for the project categories looks a bit funny, the text is too thin and is not centered in the middle of the 'bullet' or b

[2021-05-14 14:28] divine-comedian opened #857 "no log in pop up on firefox with no MM installed"
testing on **firefox** on next.giveth I have **no MM installed** and I cannot sign in on Giveth.. When I click sign-in I get the spinny wheel for a few moments then the screen returns and nothing happens at all...

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/3ec5fab9-e76c-4428-bb9b-ed3e07a15231)

[2021-05-14 14:33] divine-comedian commented on #746
Bumping here @jamespfarrell if we can deploy this soon. Because we can't have two separate instances of autopilot (one for testing; on for live) the updated track properties work on staging but currently are not sending out our emails properly on LIVE.

[2021-05-14 14:44] divine-comedian opened #858 "I broke something but I have no link to open an issue on the page."
I broke something when making a project, my connection might have timed out or something but anyway..

the page itself is kind of blank.. currently none of the text on this page offers me a direct link to open an issue to report the problem.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/30604f50-12d3-4133-af86-1c24ca2052f0)

[2021-05-14 15:53] laurenluz opened #859 "Donation Amount being calculated wrong on xDAI"
I have no idea where these numbers are coming from. At first it was saying my thousands of xDai was worth less than $0.01... then after some refreshing/changing network, it was saying that my 0.01 xDai was worth $41.26

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/46cd8147-73fd-4ef3-8867-e46348a45b7c)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a8

[2021-05-14 16:28] laurenluz opened #860 "All currency indicator images are the same on "My Donations" page"
Testing on Next...

All images are the same... it doesn't say which currency was donated. The first one is xDai, the next is YAY, etc...

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/e9cd3861-3d3c-4cef-a79c-3446d16552f0)

Related to: #839 #712

[2021-05-14 16:36] laurenluz commented on #712
So the drop down filter was fully removed then?

The search function is not working properly on this page, btw...
![image](https://user-images.githubusercontent.com/75490971/118301302-21d05300-b4a0-11eb-8af3-8ad59d864244.png)

[2021-05-14 16:50] laurenluz commented on #391
this worked just fine for me yesterday adding a project!

Some suggestions though...

1. should have the formatted ["blue text underline"](Coingecko.com) when we add a link. my description has an external link on "US" (that works) but it doesn't look like it

![image](https://user-images.githubusercontent.com/75490971/118302452-76c09900-b4a1-11eb-804a-9b576e5c4014.png)

2. is it too hard to add in

[2021-05-14 16:54] mateodaza commented on #857
Good one! will check it out

[2021-05-14 16:56] laurenluz opened #861 "After creating a project, I get "An Unexpected Error Has Occurred" but the project is added fine"
I hit "start raising funds" got "setting everything up" and then "an unexpected error has occurred" on a white page.

Testing on next with a clean cache

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/91d297af-1659-482e-9604-b9907c580ff1)

[2021-05-14 16:56] mateodaza commented on #391
good suggestions, will see how possible it is to grant all those wishes ;)

[2021-05-14 16:58] mateodaza commented on #859
@MerlinEgalite assigning this one to you as you were working on this last time, not sure if it's something I forgot to migrate from your work, I'm sorry if that's the reason!!

[2021-05-14 17:15] laurenluz commented on #783
double bump 👀 testing on next with clean cache on brave and I get:

![image](https://user-images.githubusercontent.com/75490971/118305758-a5407300-b4a5-11eb-94dc-e30dbb21cf38.png)

[2021-05-14 17:21] laurenluz opened #862 "Edits to Projects not being saved - EDIT: edits to projects take ~5 min to show up"
A user also reported this error from Live in issue #819

I'm testing on Next with Brave and a clean cache

Edited my project by adding text:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3ba6179c-e700-4e10-92f3-2a6e07dee2f8)

It confirmed that edits were "Saved" but when I went to view the project the edits didn't show up:

![image.png](https://images.zenhubusercontent

[2021-05-14 17:36] laurenluz commented on #777
the issue of the extra page is still happening, just noticed it on live... are we just saying that this is not important enough to fix? @MerlinEgalite

I think it's a pretty small issue and don't think it necessarily needs to be a priority, but if it's an easy fix...

![image](https://user-images.githubusercontent.com/75490971/118307830-74157200-b4a8-11eb-93a9-d3b3f960fd44.png)

[2021-05-14 17:39] laurenluz commented on #855
It also doesn't work to click on the project card - FYI... can't just click to view your own project from the "my projects" page

[2021-05-14 17:41] laurenluz opened #863 "Search bar not working correctly for projects"
I just made a project called "mangos for everyone" and can't find it by searching the projects page... even though it shows up under "my projects"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0f18011a-19e1-44ab-abc9-b5f8a9fbb7e2)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/19295580-8701-43bc-a83e-4be46db46ea2)

[2021-05-14 17:47] laurenluz commented on #836
I think this is fixed. I'm getting an "unexpected error" #861 now when I create a project, but it's getting saved just fun... moving to done.

[2021-05-14 18:02] laurenluz commented on #765
So...

- regular copy/pasted links-as-text do not become hyperlinks automatically... you must add them in using the "link" formatting
- links added in using the "link" formatting don't show up blue/underlined

@mateodaza is already working on the latter as per #391 ... but I'm wondering if it is also possible to create automatic links when a full URL is copy/pasted in as text?

here's an example o

[2021-05-15 01:49] laurenluz opened #864 "Feature request: Sort projects by date added"
This has come up a few times! Would be great to sort by date added to see newest projects first, or oldest projects first... this would even be really useful internally so we could reach out to our early adopters and ask them to add in formatting/hyperlinks etc. as we add the new features.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1b2ded5b-2769-4a9e-be02-00588fe7d

[2021-05-15 08:36] MerlinEgalite commented on #852
No problem @mateodaza !

[2021-05-15 08:42] MerlinEgalite commented on #855
@laurenluz I'm not sure if it makes sense to be able to directly click on the card if 2 buttons are already implemented. Or Perhaps I don't understand your point 🤔😅

[2021-05-15 08:50] MerlinEgalite commented on #859
I think this is just that the change of network was not echoed on the main token (which is XDAI ~1$ or ETH ~4000$) and steadily showing the XDAI logo...

[2021-05-15 10:35] MerlinEgalite commented on #852
Oh i get it, I think I've fixed on the donation list but not here i'll check!

[2021-05-15 10:36] MerlinEgalite commented on #777
Did you try on that @laurenluz ? https://next.giveth.io/

[2021-05-16 22:30] ForestSoleil opened #865 "Long load time when I click "Show more projects" on the home page https://next.giveth.io/projects"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-16 22:35] ForestSoleil opened #866 "https://next.giveth.io/create URL redirects to home page again When I click "Start raising funds for your project" on home page"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-16 22:37] ForestSoleil opened #867 "Right clicks on GitHub, Element, etc. do not open in new window but rather redirect the current window https://next.giveth.io/join"
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-05-17 19:02] laurenluz commented on #862
seems to be working now on next!

![image](https://user-images.githubusercontent.com/75490971/118542320-184d2200-b710-11eb-875d-77150e2f2971.png)

![image](https://user-images.githubusercontent.com/75490971/118542349-200cc680-b710-11eb-9a3a-bb60aeb7b001.png)

[2021-05-17 19:03] laurenluz commented on #862
also my previous edits on the other projects are now showing up too

nice job @mateodaza

![image](https://user-images.githubusercontent.com/75490971/118542496-521e2880-b710-11eb-9053-66995866e143.png)

[2021-05-17 19:33] laurenluz commented on #862
oh WAIT... I just tried to update my photo and it didn't stick.

what I saved:
![image](https://user-images.githubusercontent.com/75490971/118545827-5ea48000-b714-11eb-9f5c-f99dc20e2e73.png)

what it was after the fact:
![image](https://user-images.githubusercontent.com/75490971/118545861-695f1500-b714-11eb-99be-79f376ef24d1.png)

[2021-05-17 19:37] laurenluz opened #868 "Feature Request: Can we add an "Update" button under "Edit" for My Projects?"
I actually didn't even know that we could update projects for a looong time because it didn't seem intuitive to me to have to click the "updates" tab to go do that.

I just assumed "updates" was going to be tracking the updates I make when I edit my project, but it's a different thing entirely.

Would love if there was a small "update" option under the "edit" button.

What do you think @markoprlji

[2021-05-17 19:44] markoprljic commented on #868
Noted, will take into consideration.

[2021-05-17 19:50] mateodaza commented on #862
Thanks for this feedback, will take a look

[2021-05-18 00:29] mateodaza commented on #867
this is now fixed

[2021-05-18 00:30] mateodaza commented on #866
this is now fixed

[2021-05-18 00:34] mateodaza commented on #858
I added a link to github when you click on "Please report an issue" - I think you had a timeout for some reason, can't replicate it

[2021-05-18 00:40] mateodaza commented on #855
fixed it haha it was an issue with the old way of navigating - I'm with Merlin on that as the user has two main options to choose, but yeah!

[2021-05-18 00:42] mateodaza commented on #865
can you try again and let me know if you still feel it slow?

[2021-05-18 00:42] mateodaza commented on #863
can you try again and see if it still happens? I'm not able to replicate

[2021-05-18 14:59] laurenluz commented on #855
It works properly now if you click "Learn More" on the projects under "My Projects" page - testing on next using Brave

As per the clicking on the card thing... well, from the regular projects page, it is possible to click anywhere on the care to get redirected to the project's page. This is not the case under "my projects". I think it should be consistent in the DApp otherwise it is a bit awkward

[2021-05-18 17:17] laurenluz commented on #863
it seems to be working ok now. I thought maybe it was because the project was brand new, so I made a new project and searched right away, but it comes up just fine...

![image](https://user-images.githubusercontent.com/75490971/118695572-95d56880-b7ca-11eb-8ff9-ff6ea0538eda.png)

[2021-05-18 18:01] laurenluz opened #869 "Rich Text Editor: Emojis don't work properly"
I can't add hearts-for-eyes!! @mateodaza

Or any emoji, really. the emoji pop-ups appear, but when I select them, it doesn't add. Testing on next with brave

before selecting
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c0c555b7-5441-4717-b660-a61acb4ef43e)

after selecting
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3f5de883-2de2-4368-a

[2021-05-18 18:05] laurenluz commented on #862
I just tried editing my project description again and this time the edits didn't show up in the project page... but when I went to re-edit the edits showed up there in the text field...

it looks like they're not being saved properly... or perhaps there is a delay until they show up on the frontend?

[2021-05-18 18:13] laurenluz commented on #862
lo and behold. the update showed up when I went back to check 5 or so minutes later

[2021-05-18 19:00] positonic opened #870 "Register Metamask user and create project"
Register Metamask user and create project

[2021-05-18 19:30] mateodaza commented on #854
This is fixed now

[2021-05-18 19:31] mateodaza commented on #846
This should be working now

[2021-05-18 19:33] mateodaza commented on #848
old build on projects issue, this should be fixed on next update

[2021-05-18 19:35] mateodaza commented on #855
alright alright you win this one! 🙆🏼‍♂️

[2021-05-18 19:38] mateodaza commented on #862
not sure about the delay on showing the update, will take a look on that and maybe remove all intent on caching the info there - please also confirm if the edition on project image works now

[2021-05-18 19:41] mateodaza commented on #869
oh oh I delayed emojis this time because it was a pain to get them to work, will try to bring them very soon

[2021-05-19 15:38] GriffGreen opened #871 "xdai logos are not showing up... broken links?"
![Screen Shot 2021-05-19 at 8 38 04 AM](https://user-images.githubusercontent.com/14945613/118841893-02369180-b8c9-11eb-8e05-553af3cb9887.png)

![Screen Shot 2021-05-19 at 8 45 25 AM](https://user-images.githubusercontent.com/14945613/118844042-eb913a00-b8ca-11eb-9984-600fa002b3e2.png)

on the donate page: https://next.giveth.io/donate/giveth-2021:-retreat-to-the-future

[2021-05-19 15:51] GriffGreen opened #872 "The Twitter auto text is a little aggressive and missing our twitter handle :-D"
![Screen Shot 2021-05-19 at 8 46 49 AM](https://user-images.githubusercontent.com/14945613/118843369-470ef800-b8ca-11eb-96a7-0c01dcc20a83.png)

Maybe it could say:
------
Check out <name> on @Givethio

<link>
------
And then they can add their own flavor if they want

[2021-05-19 15:52] mateodaza commented on #872
Gotcha!

[2021-05-19 16:00] #852 closed, assigned to MerlinEgalite

[2021-05-19 16:00] #712 closed

[2021-05-19 18:00] mateodaza commented on #871
I merged some work from @MerlinEgalite related to this, it should be showing now

[2021-05-19 18:00] #871 closed, assigned to nobody

[2021-05-19 19:15] divine-comedian opened #873 "'Subscribe' button on subscribe to our newsletter does nothing"
Testing on next.giveth
Brave browser clean cache and cookies

Trying to enter my email and subscribe to our newsletter, I click `Subscribe` and it does nothing... help

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/549dbd8f-44c5-4ecd-9d26-3244e1c20859)

[2021-05-19 19:20] WhyldWanderer opened #874 "When creating a project, I get a blank screen upon submitting"
Testing on staging with chrome and metamask

After i complete project creation and press submit. I get a blank screen
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/2035ff66-3811-46be-98e4-b3ed77e153e8)

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/55994ba3-44c6-4e9e-9e99-0070b0e865f8)

Then I press the back button in my browser and it take

[2021-05-19 19:21] mateodaza commented on #873
@geleeroyale this is the one I mentioned 😄

[2021-05-19 19:22] mateodaza commented on #874
Can you please do testing on http://next.giveth.io/ - staging.giveth.io is out of date

[2021-05-19 19:23] divine-comedian opened #875 "My wallet should link to either blockscout or etherscan depending on what chain I'm on"
On next.giveth
Brave browser, clean cache and cookies
Logged in with MM on xDAI I click 'My Wallet' and it takes me to my address on etherscan when it should redirect to blockscout.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/a69aefe9-448e-4e05-9cbb-efba4140d86f)

[2021-05-19 19:26] WhyldWanderer opened #876 "Replace 'Learn More' with 'View Project' on 'My Projects' page in 'My Accoount'"
Testing on next.giveth.io with chrome and metamask

As a maker, it is a bit confusing when the link under my own projects in my account says "learn more"

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/9fa6d626-338b-4296-be64-155fab42719b)

Can we change this to say 'View Project' instead when its being viewed on this page?

[2021-05-19 19:31] divine-comedian opened #877 "Torus sign-in with reddit throws error"
next.giveth
Testing brave browser with clean cache and cookies.
Attempting to log into torus with my reddit account, I click the reddit button on the sign in pop-up, it opens a new window and shows
[code]

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/34a8fe9f-d03e-4533-97b0-28a9de9f7413)

[2021-05-19 19:34] WhyldWanderer opened #878 "Error screen while navigating within 'My Account' section"
Testing on next.giveth.io in chrome with metamask

I was editing my project and pressed the button to go back to "my projects'
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/cbab3b48-9e78-4a7e-8a06-6fcaf8f94475)

But I am getting an error screen after pressing the button
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/162937e6-7903-4f01-b6ca-3

[2021-05-19 20:01] divine-comedian opened #879 "projects not sorting correctly on 'default' filter"
Testing next.giveth
Brave Browser clean cache and cookies

I'm on the project page and I am looking at project under the `default` sort filter. Assuming that this is based on quality score the projects don't seem to be sorting correctly.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/067b8db9-dd5a-4ec1-96c9-c08f29d73923)

According to our quality score metrics it shoul

[2021-05-19 20:06] WhyldWanderer commented on #874
Okay.. I was testing on next.giveth.io chrome and metamask with the same steps as above

After submitting my project i get "Cannot read property 'getAttribute' of undefined"

![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/10732fc9-c5f6-4b64-9115-df7e72dcc8dd)

When I press back in my browser, it again brings me to the "My Account" page

![image.png](https://images.zenhu

[2021-05-19 20:27] WhyldWanderer opened #880 "When trying to save edits to my project, I receive an error stating that I am not the project owner."
Testing on next.giveth.io with chrome and metamask

When I try to edit my project, it allows me to access it and enter the edits however, when I try to save the edits it says I am not the project owner.
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c4346381d45/ee84e1cb-c187-4389-8082-5988881c1444)

Console view:
![image.png](https://images.zenhubusercontent.com/5ffdde8079760c43463

[2021-05-19 20:35] mateodaza commented on #880
There's a big chance this is an issue with mistaken user tokens, can you clean up the storage on both staging.giveth.io and next.giveth.io and login again

[2021-05-19 20:35] WhyldWanderer commented on #798
Testing on next.giveth.io
Found the following issues
https://github.com/giveth/giveth-2/issues/874
https://github.com/giveth/giveth-2/issues/876
https://github.com/giveth/giveth-2/issues/878
https://github.com/giveth/giveth-2/issues/880

[2021-05-19 20:39] mateodaza commented on #874
Checking on it! Thanksss

[2021-05-19 21:14] WhyldWanderer commented on #880
I am still receiving the same error after cleaning cache cookies and doing a hard reload on both staging and next
![image](https://user-images.githubusercontent.com/74267818/118885224-b679ed00-b8b4-11eb-8170-3eb538091ed0.png)

Here is the console view:
![image](https://user-images.githubusercontent.com/74267818/118885323-da3d3300-b8b4-11eb-95bb-db3a85477da0.png)
![image](https://user-images.github

[2021-05-19 22:00] mateodaza commented on #880
This is related to the name being saved with quotes like "algernongordon-effect" - the graph may be having issues understanding that - I'll make an issue to disallow this kind of titles

[2021-05-19 22:03] mateodaza opened #881 "Disallow quotes on projects slugs"
## 📋 Anything to add?
Relating to #880 - slugs are currently allowed to be saved as strings with quotes, it's causing problems.

## ⏰ Urgency/Deadline/Blockers?
It's quite an edge case, but important nevertheless

[2021-05-20 12:47] markoprljic commented on #830
Support page demo here https://www.figma.com/proto/FBqHg0UfeuaIueDEZG0tBS/Giveth.io?page-id=970%3A1&node-id=5624%3A1856&viewport=-405%2C-2849%2C0.09304647147655487&scaling=min-zoom

Modal for each support type @mateodaza should change the icon, title and description text.

Success modal is used the same we use on Contact page. @Giveth/communication if want to change the text please respond here.

[2021-05-20 17:35] WhyldWanderer opened #882 "When I donate on next.giveth.io... The donation in progress spinner does not stop"
Testing on next.giveth.io in chrome with metamask

After i confirm the transaction to donate to a project, The donation in progress notice pops up but does not go away once the transaction has been completed.
![image](https://user-images.githubusercontent.com/74267818/119023636-6d32a780-b95f-11eb-84d8-a8f5088fe49c.png)
![image](https://user-images.githubusercontent.com/74267818/119023662-73288880-

[2021-05-20 18:43] WhyldWanderer opened #883 "Anonymous donations not showing up on project page"
Testing on next.giveth.io with chrome and metamask

When I make an anonymous donation, it does not show up under donations on the project page but the transaction was completed in my wallet.
![image](https://user-images.githubusercontent.com/74267818/119031845-c521dc00-b968-11eb-83f0-ceba6d896136.png)

Transaction: https://ropsten.etherscan.io/tx/0xbc6f42baa76b6aea9d97196e1df88e9e5f115c49e97b04746

[2021-05-20 18:50] WhyldWanderer commented on #799
Testing on next.giveth.io
Found the following issues
https://github.com/giveth/giveth-2/issues/882
https://github.com/giveth/giveth-2/issues/883

[2021-05-20 22:38] mateodaza commented on #882
This is now fixed, even though we are having an error coming from Infura saying "Returned error: rejected due to project ID settings" on ropsten - in general ropsten has been working very weirdly lately but anyway, I set a better notice for these cases, donations are now being saved and it shows an "unconfirmed" modal for these cases, where the donation is saved and with an tx hash not yet include

[2021-05-20 22:39] mateodaza commented on #883
I answered this in this other [issue](https://github.com/Giveth/giveth-2/issues/882#issuecomment-845526287)  instead, my bad haha

Nop, nevermind - still WIP

EDIT: Now it's working! haha

[2021-05-21 17:46] markoprljic commented on #689
I'm questioning the need and value add of this feature. I think that we can achieve quality submission with better UX and providing system feedback on each section during the project creation flow, with implementation of web search for header images etc. but also adding some constraints like minimum character count for description and such we can improve the quality of listings.

[2021-05-21 17:50] laurenluz commented on #830
@markoprljic looks awesome! I have some suggested edits for text. @WhyldWanderer you want to review?

Report an Issue
Having problems with our site? Is something not functioning as expected?

Request a New Feature
Want to see a new feature on Giveth? Are we missing a critical functionality?

Ask us a Question
Do you have a specific question or a general inquiry? Want our team to get back to you wi

[2021-05-21 17:55] markoprljic commented on #830
Fixed. Thanks @laurenluz  Ask a Question I just left out the second sentence.

[2021-05-21 18:21] laurenluz commented on #862
update the image and it worked perfect!

then I edited my project description and it also worked perfectly without delay

[2021-05-21 18:44] laurenluz commented on #846
is there a limit to project description? I just make a project with a ton of photos and it worked super fine, but I'm wondering if maybe there's a disadvantage to having unlimited length/size.

https://next.giveth.io/project/how-many-photos-is-too-many-photos

[2021-05-23 15:04] divine-comedian commented on #775
@jamespfarrell
Testing on Giveth.io
Brave browser clean cache and cookies.
Do you have any information for how we can test this on staging? I notice Giveeth is still showing up briefly on the projects page as Lauren described.

![image](https://user-images.githubusercontent.com/67759413/119265914-98630400-bbb6-11eb-8100-20aa40f2d23f.png)

[2021-05-23 15:22] divine-comedian commented on #783
@laurenluz
testing Brave Browser, clean cache and cookies
on `next.giveth`
 I think it returns an error because 'Title' is empty.. nevertheless I fill in title
and hit submit. continue to hit more errors...

![image](https://user-images.githubusercontent.com/67759413/119266400-aade3d00-bbb8-11eb-9487-ac0c1ca07c41.png)
#### I noticed an error for addUpdate :point_down:

![image](https://user-images

[2021-05-23 15:26] divine-comedian commented on #765
bumping this issue

links still do not auto-resolve in rich text nor do they show up underlined and in blue, nothing identifies them as links actually until you hove over the text and your mouse pointer changes..

![image](https://user-images.githubusercontent.com/67759413/119266640-9f3f4600-bbb9-11eb-9316-86946695525f.png)

 (the top instance of google.ca I linked using the rich text editor)

[2021-05-23 15:32] divine-comedian commented on #441
It looks like it doesn't format things super tiny anymore which is great, I am able to see from the preview that they come out full res, videos and images! however I can't post my update because of issue #783

![image](https://user-images.githubusercontent.com/67759413/119266869-7d928e80-bbba-11eb-82a4-70d7185b4fe2.png)

[2021-05-23 15:42] divine-comedian commented on #763
testing on `next.giveth`
clean cache and cookies
screen above :point_up: shows with the 'Wallet Connect' option, successfully brings up this screen.

![image](https://user-images.githubusercontent.com/67759413/119267292-e3cbe100-bbbb-11eb-96d9-408256762f91.png)

[2021-05-23 16:53] GriffGreen commented on #770
This is still happening

<img width="518" alt="Screen Shot 2021-05-23 at 9 51 22 AM" src="https://user-images.githubusercontent.com/14945613/119269459-1a275180-bbf8-11eb-915f-908a495e7162.png">

[2021-05-23 16:53] GriffGreen commented on #770
This is pretty important! lets prioritize it!

[2021-05-23 16:54] mateodaza commented on #770
Noted, will see what's up

[2021-05-23 17:00] geleeroyale commented on #830
Very cool - thanks for mocking this up!

[2021-05-23 17:08] mateodaza commented on #783
omg this is such an edge case, our app doesn't like CRABS and I don't know why 😠

[2021-05-23 17:21] divine-comedian commented on #441
Brave Browser, clean cache and cookies
testing `next.giveth`

okay re-testing this issue on a non-crab related project :laughing:  and I can successfully upload videos and images. videos embed in  full size, I think it's great.

![image](https://user-images.githubusercontent.com/67759413/119270178-758e1b00-bbc9-11eb-9033-ba4e05b36b7c.png)

Images load up full rez and I can resize them and adjust t

[2021-05-23 17:25] divine-comedian commented on #872
Brave Browser clean cache and cookies
`next.giveth`

sharing a project on twitter looks to be updated to griff's suggestion.
![image](https://user-images.githubusercontent.com/67759413/119270366-55129080-bbca-11eb-89ac-10d38b70c0a8.png)

great work!

[2021-05-23 17:29] divine-comedian commented on #876
Brave Browser, clean cache and cookies
`next.giveth`
the text has been updated refletcing the proposed update from ashley
![image](https://user-images.githubusercontent.com/67759413/119270484-db2ed700-bbca-11eb-8a10-08f13c79d63a.png)

[2021-05-23 18:44] laurenluz opened #884 "Add explanatory popup on "set eth address" page in create project flow"
For this:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/b7e0e8d7-2ee1-441a-8721-08d7bc8c5213)

Add popup link below the "You can set..." text that says "What is an ETH address?"

Text for the pop-up:

This is as per user-feedback and discussion in comms. Ref: https://github.com/Giveth/giveth-planning/issues/207

@markoprljic are you ok w this, design-wise?

[2021-05-23 20:31] markoprljic commented on #884
Confirmed.

[2021-05-24 00:56] laurenluz opened #885 "Deactivate project not working properly"
testing on next with brave

when I deactivate my project, the button changes, like so:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/14ae6ed9-5448-4807-8880-d2b20e25c966)

but then it is still active and visible/searchable from the projects page
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d362e31f-18c5-498f-8c00-9dbf6342d130)

[2021-05-24 15:53] laurenluz commented on #746
@jamespfarrell @divine-comedian

encountered a pretty critical issue today.... donated on live and received a confirmation email for my donation saying that I donated to a fake silly project that I made on staging called "durian abundance coalition"

the project I donated to: https://giveth.io/project/support-protests-in-colombia-soscolombia

the email I received.
![image](https://user-images.gith

[2021-05-24 16:35] divine-comedian commented on #746
I removed the `title` field from the emails. Everything else seems to fill correctly. we will add them back in once the impact-graph has been updated on LIVE

[2021-05-24 17:19] mellymails opened #886 "Having Issues loading photo and text edits"
## 📋 Anything to add?
Hi, we have been trying to upload our project and the photo keeps showing our initial selection. We have changed it and uploaded the second photo, however, it only shows the old one when we click "learn more". Also, the language keeps showing the old edits and not the updated language. In a nutshell, it seems like the issue is with updating the project to our real-time push.

[2021-05-24 18:14] mateodaza commented on #886
Hey thanks for reaching! We'll be making a big update to the app where this will be solved  (more likely in a day) I'll get back to you when it's ready!!
Also sorry for the inconvenience, we have had many other issues like this from other users

[2021-05-25 15:56] divine-comedian commented on #807
can @geleeroyale  @merlin or @mateodaza  test this?

[2021-05-25 16:00] divine-comedian commented on #878
testing on next.giveth
clean cache and cookies on brave
signed in with MM i go into edit my project, I change some text or don't change anything and I hit the 'back' button. tried the same process with several projects.
**goes back to my projects page with no error.**

[2021-05-25 19:15] divine-comedian commented on #883
next.giveth
brave browser, clean cache and cookies
just made an anonymous donation to a project.
it went through and shows up on the project page.
looks to be resolved!
![image](https://user-images.githubusercontent.com/67759413/119555546-fbe26280-bd6b-11eb-9154-78a8f8459f57.png)

[2021-05-25 20:09] WhyldWanderer opened #887 "Proposed changes to Discord"
While composing a user guide for our discord server in the docs, I realized that we could take this opportunity to refresh and update the discord server with a few small things that would make it more new user friendly as well as a bit more engaging.

Here is a link to the guide I am working on: https://hackmd.io/8NVdNYUhTUOOwSOpuFdG9w
(It is still a work in progress... please feel free to leave c

[2021-05-26 15:44] willyogo opened #888 "Mailchimp <> email capture form are no longer integrated. Replace Mailchimp with Autopilot"
As Giveth admins, we want to use one tool for all email communications rather than two. We also want to get the most out of our Autopilot integration and capture more user analytics.

Mailchimp is currently not capturing form submissions on next.giveth.io, which makes this a great opportunity to replace Mailchimp with Autopilot. Once the integration is done, I can export all of our contacts from M

[2021-05-26 16:14] geleeroyale commented on #887
This looks great - thanks for getting my opinion!

[2021-05-26 16:36] divine-comedian commented on #874
testing on `next.giveth`
brave browser clean cache and cookies.

successfully made project with MM
![image](https://user-images.githubusercontent.com/67759413/119697884-ab780d00-be1e-11eb-9c29-9a4f0a9b4972.png)

my heckn project shows up in 'my projects' list

![image](https://user-images.githubusercontent.com/67759413/119698011-cf3b5300-be1e-11eb-99b4-7a2ad0270da0.png)

issue looks to be resolved

[2021-05-26 17:53] divine-comedian commented on #861
resolved with duplicate issue #874

[2021-05-26 18:00] divine-comedian commented on #882
testing next.giveth
brave browser, clean cache on MM

I didn't have any issue making a donation on ropsten just now. Perhaps the network problems have been resolved.
I did notice the modal before but unortunately the transaction was too fast and it didn't pop-up this time so I couldn't screenshot it
Unless there's a better way to test this issue I'm going to mark it as resolved.
![image](https://u

[2021-05-28 20:02] willyogo commented on #887
My only concern is that this looks too good! (jk 😉 )

This is so awesome, thank you for taking initiative @WhyldWanderer ❤️

[2021-05-31 21:08] laurenluz opened #889 "Donation not showing up in "my donations" or on the project"
I just donated 20xDai (on May 31) to Bridging Digital Communities via main.next.giveth and the funds left my wallet, but they don't show up in "my donations"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/188a4391-5898-45c5-ad68-7eb48981e1d7)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c040181f-c273-4918-97dd-3752c868bc98)

[2021-05-31 21:10] mateodaza commented on #889
WIP! for a reason some old projects are encountering this issue - @jamespfarrell is helping me here

To keep track this is what's shown on donation
![image](https://user-images.githubusercontent.com/18689480/120242542-b8d03580-c22a-11eb-8fa2-e2236a1ab3aa.png)

[2021-06-02 03:33] ForestSoleil commented on #865
Does not feel slow anymore. In fact, "Show more projects" is gone and instead I can continously scroll until In reach the end of the page. Thanks Mateo! (& sorry for my delayed response - I was locked out of GitHub for the past week or so due to 2fa sending to my old phone that wasn't turning on....until signing and praying to it today worked haha back in!)

[2021-06-02 03:33] #865 closed, assigned to mateodaza

[2021-06-02 03:34] #866 closed, assigned to mateodaza

[2021-06-02 03:35] ForestSoleil commented on #867
Looks great, Mateo! Thanks

[2021-06-02 03:35] #867 closed, assigned to mateodaza

[2021-06-02 22:39] WhyldWanderer opened #890 "Cancelled projects are showing up in the projects list"
On live with chrome and metamask

It seems that cancelled projects are showing up in the projects list
![image](https://user-images.githubusercontent.com/74267818/120560970-f961b780-c3c0-11eb-8fc1-71c22ba6c6a5.png)

But when I navigate to the project page, I get htis:
![image](https://user-images.githubusercontent.com/74267818/120560993-02eb1f80-c3c1-11eb-9093-49351c9d5b9e.png)

[2021-06-02 22:46] laurenluz commented on #890
repeat of https://github.com/Giveth/giveth-2/issues/775

this is an old issue. was happening also the previous version

[2021-06-02 22:58] WhyldWanderer commented on #890
Ah okay...
I think we were under the impression that it would be fixed with the new migration but its still happening

[2021-06-05 13:21] divine-comedian opened #891 "Redirect `My Wallet` for Torus users to the Torus app page"
## 📋 Anything to add?
While updating the Torus user documentation I realized there is no link from the Giveth page for torus users to view their wallet on the torus app page.

When you click on My Wallet currently it links to your eth adress on etherscan which is not helpful for a torus user who probably has no idea yet as to what they are looking at.

Instead of linking `My Wallet` to Etherscan f

[2021-06-06 21:25] laurenluz opened #892 ""Learn More" on from projects page leads to an error"
I'm on giveth.io using Brave, trying to donate to projects. I wanted to open "Permaculture Action Network" and it wouldn't load. Eventually, I got this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0e056b82-0767-404c-9d3e-3ebcf1d1885c)

[2021-06-06 21:47] laurenluz commented on #843
@MerlinEgalite can you fix this please?

I noticed today that it is still wrong

![image](https://user-images.githubusercontent.com/75490971/120941171-7dc47b00-c6de-11eb-85d5-4646e9bc8952.png)

[2021-06-06 21:58] laurenluz opened #893 "Changing my address in metamask did not change my account in Giveth"
I had been previously signed into giveth with one address from metamask and an account I called "giveth love". I had since changed my metamask to my personal account - "Lauren B" in Giveth.

But Giveth still had me "signed in" with Giveth Love.

So I ended up donating from my personal account, rather than my "Giveth Love" account (in metamask, but on Giveth it shows as donated from Giveth Love bec

[2021-06-08 16:14] mateodaza commented on #893
Login will preserve after you change wallets in metamask as you are asked to make a signature - I don't believe this is a bug, if you want the future to recognize change and make a new signature we can do it. But I don't believe is the best UX

[2021-06-08 18:07] laurenluz commented on #893
Login was preserved even after I closed giveth, changed wallets and then re-opened giveth in a new tab... and this is what made it confusing. Because I saw my login name on Giveth as the one associated with the account I wanted to donate from, and then when I was donating it was easy to overlook the fact that the account was not the donation account.

I think in TRACE we require a new signature wh

[2021-06-08 21:33] mateodaza commented on #893
While we build this feature we decided that if you are logged in you'll be recognized as a donor even if you donate from a different source than your selected provider. For example you are logged in with metamask, you can give with portis or whatever but you'll still be recognized as the donor.

Changing this flow to require a signature every time, could make the experience tedious and actually sl

[2021-06-08 21:55] mateodaza commented on #886
You can check this out again! sorry for the delay

[2021-06-09 17:15] laurenluz commented on #893
yes! what you're saying makes total sense, adding the signature sounds like it would make things clucky.

Why don't we add like a confirmation popup that says "you are making a donation of x amount from y wallet under z name to the project q"

we can even add something about givebacks to that popup too, when it's ready... some that says "you are eligible to receive up to 75% (or r USD) in GIVbacks

[2021-06-09 17:53] laurenluz commented on #775
issue moved to next: https://github.com/Giveth/giveth-next/issues/31

[2021-06-09 17:53] #775 closed

[2021-06-09 17:55] #846 closed, assigned to mateodaza

[2021-06-09 17:55] #836 closed, assigned to laurenluz

[2021-06-09 17:56] laurenluz commented on #860
fixed
![image](https://user-images.githubusercontent.com/75490971/121404929-aedcbf80-c919-11eb-8c4c-e3153f3beaf8.png)

[2021-06-09 17:56] #860 closed, assigned to nobody

[2021-06-09 17:56] #854 closed, assigned to mateodaza

[2021-06-09 17:57] #825 closed, assigned to positonic, MerlinEgalite

[2021-06-09 17:57] #861 closed, assigned to mateodaza

[2021-06-09 17:58] #882 closed, assigned to mateodaza

[2021-06-09 17:58] #874 closed, assigned to mateodaza

[2021-06-09 17:58] #883 closed, assigned to mateodaza

[2021-06-09 17:58] #878 closed, assigned to mateodaza

[2021-06-09 17:58] #872 closed, assigned to mateodaza

[2021-06-09 17:59] #876 closed, assigned to mateodaza

[2021-06-09 17:59] #863 closed, assigned to nobody

[2021-06-09 17:59] #862 closed, assigned to nobody

[2021-06-09 18:00] #676 closed

[2021-06-09 18:00] #772 closed

[2021-06-09 18:00] #727 closed

[2021-06-09 18:01] #421 closed

[2021-06-09 18:01] #668 closed

[2021-06-09 18:02] #688 closed

[2021-06-09 18:02] #756 closed

[2021-06-09 18:02] #730 closed

[2021-06-09 18:03] #778 closed

[2021-06-09 18:04] #670 closed

[2021-06-09 18:04] #580 closed

[2021-06-09 18:04] #638 closed

[2021-06-09 18:08] laurenluz commented on #839
sort function is currently only working when the user types the title *from the beginning*...

if I search "solution", for example, "living the solution" does not come up

![image](https://user-images.githubusercontent.com/75490971/121406291-34ad3a80-c91b-11eb-961e-4b03ea974d8b.png)

![image](https://user-images.githubusercontent.com/75490971/121406444-632b1580-c91b-11eb-8449-f3e25c45fbee.png)

[2021-06-09 18:13] laurenluz commented on #832
@MerlinEgalite is this done? can we close? or move to the next board?

[2021-06-09 18:15] laurenluz commented on #642
this is fixed on live

![image](https://user-images.githubusercontent.com/75490971/121407253-5955e200-c91c-11eb-8c30-a6ee35a13a01.png)

[2021-06-09 18:15] #642 closed

[2021-06-09 18:15] #850 closed, assigned to positonic

[2021-06-09 18:18] #797 closed, assigned to positonic

[2021-06-09 18:30] laurenluz commented on #856
seems fixed on live

![image](https://user-images.githubusercontent.com/75490971/121409172-6a9fee00-c91e-11eb-840f-778a9b0a2f09.png)

[2021-06-09 18:30] #856 closed, assigned to MerlinEgalite

[2021-06-09 18:37] #791 closed

[2021-06-09 18:43] #858 closed, assigned to mateodaza

[2021-06-09 18:44] #855 closed, assigned to mateodaza, MerlinEgalite

[2021-06-09 18:44] #765 closed

[2021-06-09 18:50] laurenluz commented on #770
seems fixed for PAN, but not fully fixed? WETH and xMoon have the same ticker symbol

![image](https://user-images.githubusercontent.com/75490971/121411406-d5522900-c920-11eb-8531-e163a31fc6ff.png)

![image](https://user-images.githubusercontent.com/75490971/121411647-18140100-c921-11eb-8162-d00d9be1cff6.png)

![image](https://user-images.githubusercontent.com/75490971/121411678-2235ff80-c921-11eb

[2021-06-09 19:06] #678 closed

[2021-06-09 19:07] #830 closed, assigned to markoprljic

[2021-06-09 19:08] #870 closed, assigned to positonic

[2021-06-09 19:09] #823 closed, assigned to positonic

[2021-06-09 19:11] laurenluz commented on #624
https://github.com/Giveth/giveth-next/issues/44

[2021-06-09 19:11] #624 closed

[2021-06-09 19:11] #709 closed

[2021-06-09 19:14] laurenluz commented on #614
it doesn't allow me to donate more than I have anymore, but I think the error message could be more descriptive. maybe "insufficient funds" ? what do you think @mateodaza ?

![image](https://user-images.githubusercontent.com/75490971/121415001-7f7f8000-c924-11eb-9eb5-51256a10e4e6.png)

[2021-06-09 19:16] laurenluz commented on #744
![image](https://user-images.githubusercontent.com/75490971/121415373-e735cb00-c924-11eb-9fb7-dd8bd2c9c559.png)

[2021-06-09 19:16] #744 closed

[2021-06-09 19:16] #647 closed

[2021-06-09 19:17] laurenluz commented on #451
@tommygiveth can you test this and close if fixed?

[2021-06-09 19:20] laurenluz commented on #857
it now redirects to the Torus sign-in window...

maybe we can still have the full popup that the user with metamask normally sees? and the metamask option redirects them to the metamask site ?

![image](https://user-images.githubusercontent.com/75490971/121415785-53183380-c925-11eb-9ac3-1dd45621bdd9.png)

[2021-06-09 19:23] #713 closed

[2021-06-09 19:23] #604 closed

[2021-06-09 19:30] laurenluz commented on #681
WIP as part of https://github.com/Giveth/giveth-planning/issues/177

[2021-06-09 19:30] #681 closed

[2021-06-09 19:34] laurenluz commented on #689
pretty sure from my check in w @divine-comedian that we decided not to have the quality score display publicly but we discussed having a "% complete" load bar.

I think this is worth a quick discussion in the next dev call

[2021-06-09 19:41] laurenluz commented on #759
repeat of : https://github.com/Giveth/giveth-next/issues/31

[2021-06-09 19:41] #759 closed

[2021-06-09 19:44] #847 closed, assigned to nobody

[2021-06-09 19:53] laurenluz commented on #842
redundant: https://github.com/Giveth/giveth-next/issues/57

[2021-06-09 19:53] #842 closed, assigned to nobody

[2021-06-09 20:11] laurenluz commented on #817
seems to be loading quickly now, I think this is resolved w next migration

[2021-06-09 20:11] #817 closed, assigned to positonic

[2021-06-10 08:52] MerlinEgalite commented on #832
Yes

[2021-06-10 08:52] #832 closed, assigned to MerlinEgalite

[2021-06-11 13:03] divine-comedian commented on #813
+1 I'm still encountering this issue on Giveth.io LIVE.

I find that every time I refresh the page more photos begin to show up

[2021-06-16 02:44] Danibelle opened #894 "Conflicting Network Fee Information"
When I enter my donation amount of 28000 DAI, the network fee shows as one amount..
Then the MetaMask transaction is different:
![image](https://user-images.githubusercontent.com/39466970/122150112-00051b80-ce12-11eb-8382-7a248e95e402.png)

@

## 🔗 Work doc - inspirational links

[2021-06-16 02:46] Danibelle opened #895 "Number of Givers on Project is Zero"
This seems to be for all projects, wondering if it is just me?
I also cannot heart projects again *sigh
![image](https://user-images.githubusercontent.com/39466970/122150312-4eb2b580-ce12-11eb-99da-422cee1cbfc3.png)

@

## 🔗 Work doc - inspirational links

[2021-06-16 03:31] Danibelle opened #896 "Delay in donation appearing on Campaign is waaaay toooo loooonnnggggg"
Transaction completed in a minute on Etherscan.. why not on Giveth yet nearly an hour later?
![image](https://user-images.githubusercontent.com/39466970/122153848-a6541f80-ce18-11eb-917f-902086034351.png)

## 📋 Anything to add?
This is torture!

## ⏰ Urgency/Deadline/Blockers?
A donor should see their donation appear after making it!

## ❓ Why is it important?
Because Givers won't keep giving to m

[2021-06-16 04:10] MoeNick commented on #896
@Danibelle Thanks for reporting.
 Im afraid we missed these issues because we moved to board: https://github.com/Giveth/giveth-next

[2021-06-16 18:35] WhyldWanderer commented on #895
I am also having this issue on live with chrome and metamask

![image](https://user-images.githubusercontent.com/74267818/122273968-45bbf580-ce9f-11eb-9cb5-5977f31c1b16.png)

[2021-06-16 18:47] #887 closed, assigned to geleeroyale, willyogo, WhyldWanderer

[2021-06-16 19:21] #849 closed, assigned to positonic

[2021-06-16 21:21] #451 closed

[2021-06-16 21:29] #886 closed, assigned to nobody

[2021-06-18 14:25] WhyldWanderer commented on #813
This issue was fixed in the last sprint

[2021-06-18 14:25] #813 closed, assigned to nobody

[2021-06-21 20:25] divine-comedian commented on #783
I'm experiencing this on more of my projects currently on next.giveth. it's a bit concerning because even projects I made as recently as may 23rd are getting this error. Even stranger is that I have already made updates on this project and now for some reason it no longer works...

Maybe @cquinterom096  you have some insight? this could be related to some of the status or project ID stuff we were

[2021-06-30 13:19] MoeNick opened #897 "Show traceable project on project list"

[2021-07-03 10:15] #628 closed

[2021-07-07 14:53] MoeNick opened #898 "View Details of traceable project"

[2021-07-15 14:13] divine-comedian commented on #798
testing on `next.giveth.io`

Issues found -
https://github.com/Giveth/giveth-next/issues/145
https://github.com/Giveth/giveth-next/issues/146

[2021-07-15 14:46] divine-comedian commented on #799
Tested on `next.giveth.io` brave browser with clean cache and cookies
Made donations on Ropsten with Torus wallet with ERC-20 tokens and ETH
Made donations on xDAI with MM with ERC-20 tokens
Made Anonymous donation with MM with ERC-20 token on Mainnet and xDAI on xDai

donations show up on project and my projects with correct currency type, amount and date, transactions on block explorer confirm m

[2021-07-15 14:56] divine-comedian commented on #380
Adding to this issue - I propose updating this to our What is Giveth page in our docs instead of this medium story from 2019!

[2021-07-15 15:00] divine-comedian commented on #800
testing on `next.giveth.io`
brave browser clean cache and cookies

clicked all the buttons, no major issues except some lack of clarity between verified and traceable projects but this will be subject to change as it is in active development.

updated and self-assigned issue - https://github.com/Giveth/giveth-2/issues/380

[2021-07-26 15:37] justinkalland opened #899 "Social sharing buttons don't work on the donation page."
## 📋 Anything to add?
To reproduce visit a [donation page](https://giveth.io/donate/bloom-network) and try clicking the social sharing links (under the white box).

https://user-images.githubusercontent.com/43973143/127017228-eddac17b-ce34-4124-ba42-0df920898647.mov

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?
Social sharing is vital to marketing and outreach.

## 🎉 Subtasks

- [ ]

[2021-08-09 03:11] Qwe961126 opened #900 "What is this? Why can't I submit my project?"
![360截图17411028107144116](https://user-images.githubusercontent.com/77943564/128656673-e8df2788-72bd-4a30-aeb8-a3af121d7beb.png)
## 📋 Anything to add?

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links

[2021-08-10 15:17] mateodaza opened #901 "Giveth Admin Dashboard 🌟"

[2021-08-19 19:34] divine-comedian commented on #372
pending PR - https://github.com/Giveth/giveth-next/pull/169

[2021-09-15 01:33] laurenluz opened #902 "Error messages when a project owner tries to add an update or edit their project)"
This is related to #149 #165

The owner of the project [Oika](https://giveth.io/project/Oika-in-the-Blockchain-1) has had issues editing and adding an update to his project.

When he tries to edit it, it seems like he's redirected to the wrong project slug and gets this error:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c68c00d0-0dd5-4fb7-a835-522da3206643)

When he

[2021-09-15 09:25] RamRamez commented on #902
@laurenluz I already resolved this issue in the PR [#244](https://github.com/Giveth/giveth-next/pull/244)

@mateodaza Please review my PR and merge it if it is OK.

[2021-09-15 09:59] RamRamez commented on #900
@Qwe961126 I created a test project and it was ok for me. Could you please check again? If you again faced this error, please explain exactly what you did.

[2021-09-21 15:01] RamRamez commented on #762
Onboardjs added support for changing/adding a network.

I added to Onboardjs in PR #[249](https://github.com/Giveth/giveth-next/pull/249)

[2021-09-30 04:24] mohammadranjbarz opened #903 "Add not found page when cant find project with slug"
Now we are showing backend error message when we can't find a project by slug, and it misleads our users, I think it's better to design a 404 page ( it has a little backend works)
take a look at problems it makes now:
https://github.com/Giveth/giveth-next/issues/173#issuecomment-930767491
https://github.com/Giveth/giveth-dapp/issues/2545

These are invalid links and see how we mislead users with n

[2021-09-30 04:27] mohammadranjbarz commented on #903
It's a mistake to adding this issue here, I close this and you can check
https://github.com/Giveth/giveth-next/issues/274

[2021-09-30 04:27] #903 closed, assigned to nobody

[2021-10-04 22:04] laurenluz opened #904 "Number of Projects not accurate when category filters are applied"
I was playing with selecting the "category"... and no matter what I chose, and how many projects were shown, it always said "Projects (94)"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/85dbb73a-2a58-4451-8da0-b774acf21ff3)

In this case, the "nutrition" category only shows 9 projects, but the "count" still says 94.

(testing on next)

[2021-10-06 12:04] DonnaOftadeh opened #905 "This step should be visually optimized"
## 📋 Anything to add?
In the project location page, the global tag when the project has a global impact and in this case the location entry section is locked! this is not clear it can be two options (radio button) which the user can select and as per selection the relative entry section become activated
![image.png](https://images.zenhubusercontent.com/60f71f99b9da54ac7e274e9d/9a144bd1-ca67-4f0d-a

[2021-10-06 12:13] DonnaOftadeh opened #906 "no donation received with trace tag has no sharing or like option"
## 📋 Anything to add?
When a project came from trace and has no donations, there is no like and share option
![image.png](https://images.zenhubusercontent.com/60f71f99b9da54ac7e274e9d/fd0893f6-df2f-4868-8869-86926fbf409a)

## ⏰ Urgency/Deadline/Blockers?

## ❓ Why is it important?

## 🎉 Subtasks

- [ ]
- [ ]
- [ ]

## 🤼‍ Reviewer

@

## 🔗 Work doc - inspirational links